[2015-09-21 17:07] darekxan opened #1 "Product info retrieval support"
Does the library support retrieving of product info in any way?

[2015-09-21 20:03] bizz84 commented on #1
It does, through the [InAppProductQueryRequest](https://github.com/bizz84/SwiftyStoreKit/blob/master/SwiftyStoreKit/InAppProductQueryRequest.swift) class, however this has not been exposed in the public interface.

InAppProductQueryRequest takes a set of product IDs as input, and returns an array of [SKProduct] in the completion block. This is used internally by the main SwiftyStoreKit class.

Wou

[2015-09-21 20:27] darekxan commented on #1
My case is:
https://developer.apple.com/library/ios/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Chapters/ShowUI.html#//apple_ref/doc/uid/TP40008267-CH3-SW5

Paragraph: Retrieving Product Information.

I believe product information including price should be shown to the user, before he decides to initiate the payment.

[2015-09-21 21:27] bizz84 commented on #1
Sounds reasonable. InAppProductQueryRequest is what you need as it will give you an array of [SKProduct](https://developer.apple.com/library/prerelease/ios/documentation/StoreKit/Reference/SKProduct_Reference/index.html)s.

All is needed is to make the class public along with its ```startQuery``` method. Can't promise I'll find time to do it in the next few days - if you need it quick please just

[2015-09-23 15:26] darekxan commented on #1
I've created quick pull request, it is still under testing.

I've tried to follow coding conventions.

One problem inconvenience this may cause is users might need to import StoreKit manually when using SKProduct.

I believe wrapping it might be good idea.

[2015-09-26 09:08] bizz84 commented on #1
@darekxan Thanks for the PR, merged with minor code formatting changes.

I also updated the README to document the new functionality and updated the pod version to 0.1.1.

[2015-09-26 09:54] #1 closed

[2015-09-26 09:56] bizz84 opened #3 "InAppProductPurchaseRequest sometimes returns an error when starting a purchase"
Sometimes an early error is raised in the payment queue when making a purchase, even though the purchase is still in progress.

[2016-01-11 20:52] filipmelik opened #8 "Invalid state returned when restoring purchases"
Sometimes (I dont know how the users do it - i was not able to simulate it) when user is trying to restore purchases, payment queue returns invalid state .Purchased and the app crashes in the following line:

<img width="1353" alt="screen shot 2016-01-11 at 21 33 27" src="https://cloud.githubusercontent.com/assets/5735485/12246173/3e0adbfc-b8ad-11e5-93be-5f38adbb6f17.png">

any idea what is wrong?

[2016-01-13 09:51] bizz84 commented on #8
I did not expect that we could get a Purchased result type when restoring purchases via StoreKit, so I originally added an abort call for this scenario.

As this is happening for you, I have now fixed this case to return ```.Success(productId: productId)``` in the latest pod version 0.2.2. Please update your installation.

Also could you tell me how many purchases you made in your app prior to req

[2016-01-13 11:42] filipmelik commented on #8
Thanks Andrea.
It also seems strange to me that you can get Purchased result type for restore flow. And because of this reason, I am not quite sure if this is the right fix to the problem, because it seems like a StoreKit error. I would rather consider it as an error state that should be handled by application - i.e. tell the user to try again, because the expected sate is .Restored and not the .

[2016-01-13 12:33] phimage commented on #8
Agree to transform into error.
And maybe never use `fatalError` - instead use some `assert`(so only for xcode dev/debug mode) for the non expected code and return errors

[2016-01-15 09:25] bizz84 commented on #8
Agree with the rationale for treating this as an error.
Consequently, the following three cases need to be addressed:

- When making a purchase ```Restored``` and ```NothingToRestore```
- When restoring purchases, ```Purchased```

These could be mapped into an ErrorType and passed back as an error to the outer completion block so that the calling code can present some 'Unknown error' message to th

[2016-01-15 13:39] filipmelik commented on #8
Agree. This would be the approach I would take personally.

[2016-01-15 22:04] bizz84 commented on #8
This has now been fixed in version 0.2.3.
Decided to go for a standard NSError for the invalid flows, rather than introducing more ErrorType based enumerations as this would have just resulted in an extra level of nesting for errors reported to the calling code.

[2016-01-18 11:14] filipmelik commented on #8
Thanks for the fix.

[2016-01-18 11:14] #8 closed

[2016-01-27 21:46] Bizzi-Body opened #9 "SharedSecret - Where to add in the library?"
Not really an "issue"

Is there a central place I can place I can put my shared secret?

Or should I edit the SwiftyStoreKit.swift file directly?

[2016-01-27 22:29] Bizzi-Body opened #10 "How to get details out of the latest receipt?"
Specifically I need to extract the expires_date information from the latest receipt.

I have auto renewing subscriptions and I want to monitor when the subscription expires.

[2016-01-28 10:33] phimage commented on #9
You want to store somewhere your shared secret?
If yes there is many way, hard coded, keychain, nsuserdefault(crypted!!), crypted or not (CryptoSwift)
(for instance my framework can store data https://github.com/phimage/Prephirences )

ps: Do not edit third party files like SwiftyStoreKit.swift if you can make some `extension`

[2016-01-28 10:47] phimage commented on #10
I have not tested yet because I have not renewed my apple subscription but in theory after call the receipt verification method you receive in `Success` a `ReceiptInfo = [String: AnyObject]`

You can access this dico directly with `"expitation_date"` key
Or you can use `ReceiptInfoField.expitation_date.rawValue`
all key are described here https://developer.apple.com/library/ios/releasenotes/Genera

[2016-02-01 14:00] AlexCatch commented on #3
I get this error occasionally. It makes the library unusable in Production.

[2016-02-01 21:44] bizz84 commented on #3
I haven't been able to determine exactly when this happens. Do you have any more information that could help me reproducing the issue?

[2016-02-12 22:55] #9 closed

[2016-03-15 15:13] fbartolom opened #11 "Missing backoffice validation support"
Albeit a very appreciated attempt at porting storekit functionaliies to Swift, the solution misses the possibility of validating the purchase remotely in cases when a certain oepration on the backoffice is subjected to the correct processing of the purchase and to prevent fraud. This functionality is missing from all solutions I found using appStoreReceiptUrl while is present in the original MKSto

[2016-03-16 19:06] odedharth commented on #3
@bizz84 was the error solved? I wondering whether I should use the library for production

[2016-03-27 08:19] Dershowitz011 opened #13 "Carthage Compatible!"
Please make this repo carthage compatible! Thanks.

[![Carthage compatible](https://img.shields.io/badge/Carthage-compatible-4BC51D.svg?style=flat)](https://github.com/Carthage/Carthage)

[2016-03-28 14:55] bizz84 commented on #13
I have added Carthage support. Please let me know if it works ok for you.

[2016-03-28 15:08] bizz84 commented on #3
I have not had the chance to investigate further. It's unclear when it happens or why. If anyone has more insight or knows how to fix this, please let me know or send me a PR.

[2016-03-28 15:11] bizz84 commented on #11
I am not very familiar myself with receipt validation and I won't be able to help on this one unfortunately. @phimage may have a bit more insight as he implemented the feature in this project.

[2016-03-28 15:18] Dershowitz011 commented on #13
Works perfectly. Thanks.

[2016-03-28 15:18] #13 closed

[2016-03-29 13:48] phimage commented on #11
Sorry, I don't know what @fbartolom talk about (need better explanation...)

all information about receipt validation
https://developer.apple.com/library/ios/releasenotes/General/ValidateAppStoreReceipt/Introduction.html#//apple_ref/doc/uid/TP40010573-CH105-SW1

[2016-03-29 16:30] fbartolom commented on #11
In fact I know that post you are referring to. But as you may also see, it just speaks of validating the purchase locally or on the AppStore, yet always from the app. In my case I need to validate the certificate from the backoffice in order to update a DB field in the case the purchase is correct. Unfortunately I found no solution for sending the receipt created by the appStoreReceiptURL to the b

[2016-04-02 15:31] mortenholmgaard opened #18 "Change Restore to return all products ids at once"
Could it be possible to change the Restore method to return all productIds at once?

Sometimes one needs some heavy computation after the restores, but like it is right now, it is not possible to know which callback is the last.

[2016-04-03 15:46] bizz84 commented on #18
I agree that this would be desirable behaviour.

The Apple documentation for [SKPaymentQueue.restoreCompletedTransactions()](https://developer.apple.com/library/ios/documentation/StoreKit/Reference/SKPaymentQueue_Class/#//apple_ref/occ/instm/SKPaymentQueue/restoreCompletedTransactions) says the following:

_The payment queue will deliver a new transaction for each previously completed transaction

[2016-04-04 19:38] mortenholmgaard commented on #18
I have taken a quick look at the code and to me it looks like you should be able to just use the
`SKPaymentTransactionObserver.paymentQueueRestoreCompletedTransactionsFinished`
Right now you don't really use it for any thing else than return `.NothingToRestore`

I think it could be done just iterating `queue.transactions` in `SKPaymentTransactionObserver.paymentQueueRestoreCompletedTransactionsFin

[2016-04-05 06:57] odedharth commented on #10
I use this function:

[code]

While passing the receipt:

`let expirationDate = expirationDateFromResponse(receipt)   `

[2016-04-05 21:58] bizz84 commented on #18
Haven't investigated yet but yes. I'll try to look into it this week.

[2016-04-08 17:44] bizz84 commented on #18
Implemented tentative solution here:
https://github.com/bizz84/SwiftyStoreKit/pull/19/files
Feedback welcome

[2016-04-09 11:45] mortenholmgaard commented on #18
I have just tested it and it seems to work perfectly! - just as expected it restored multiple products in only one callback.
Hope you will make a pods release with this soon

[2016-04-10 16:39] bizz84 commented on #18
This has now been merged and included in pod release 0.2.5

[2016-04-10 16:39] #18 closed

[2016-04-16 11:28] nsoud opened #20 "how to check if the product was purchased or not."
ho to check if a product was previously purchased
Thank you very much

[2016-04-18 20:32] bizz84 commented on #20
There is no API in SwiftyStoreKit for this. You could do the following:
* Once the user makes a purchase the first time after installing the app, store the purchase information locally, for example using the keychain. You can then query you keychain anytime to see if the product has been purchased
* One advantage of using the keychain is that the information will still be there even if the user de

[2016-04-20 09:52] tbaranes opened #21 "Get a list of all products available from products ids"
In my current application, I have a list of IDs clear to sales from the API, to be sure which ones I can show to the user, I need to verify which products are available or not on Apple side.

I though about using `retrieveProductInfo`, but that will create one request per product. One easy solution would be to create `retrieveProductsInfo`  which could take an array of product ids, and return the

[2016-04-21 17:40] bizz84 commented on #21
I agree. Will try to look into this over the weekend.

[2016-04-21 17:40] #20 closed

[2016-04-23 01:36] atjason opened #22 "Critical issue when app have multi products."
First, thanks for your framework.

But, after spend days to finish the IAP with your framework, I find a critical issue which prevent me to release this product. This really make me feel upset, change another framework (or implement using Apple's api), or provide help and wait you until this critical issue is fixed?

Steps to reproduce this issue:
* The App has 2 products to purchase: Plus and Pro

[2016-04-23 03:06] atjason commented on #22
BTW, at following patch could help me walk around this issue, even I'm not sure it's safe or correct to do it.

[code]

[2016-04-23 06:48] bizz84 commented on #21
I implemented a proposal for this here:
https://github.com/bizz84/SwiftyStoreKit/pull/23

It's an API breaking change so I'm planning to leave the pull request open for one or two days to see if there is any feedback before merging it in.

Feel free to try it out :)

[2016-04-23 06:58] bizz84 commented on #22
Thank you for reporting this and for the detail in the explanation. I'll try to look into it soon.

[2016-04-23 07:10] atjason commented on #22
Just send another email to b*4@gmail.com for test account and IAPs, please let me know if you didn't receive it.

[2016-04-23 08:04] bizz84 commented on #22
I opened a PR for this: https://github.com/bizz84/SwiftyStoreKit/pull/24

Would you be able to test on that branch and let me know if it fixes your problem?

[2016-04-23 08:16] atjason commented on #22
Sure, I will test now and feedback later.

[2016-04-23 08:36] atjason commented on #22
I test again and it's fine. Thanks.

To be honest, now I'm not familiar with git pull request, so I manually merge code and test. Here are the steps:

* Manually merge the code (I'm sure the merge is correct).
* Create a new test account.
* Buy first product. Succeed.
* Buy second product. Succeed.

Another information is, I ever integrate SwiftStoreKit by framework, but now I directly copy folder

[2016-04-23 09:56] atjason opened #25 "Restore issue with v0.2.7"
Just create a new test account and then try to restore, will get this issue. In this case should return that no purchase was found. But I'm not sure it's caused by Apple's cache or not.

[2016-04-23 10:55] bizz84 commented on #22
I'll look into this today or tomorrow.

[2016-04-23 14:55] atjason opened #26 "Restore a purchased product, get SwiftyStoreKit.InternalErrorCode.PurchasedWhenRestoringPurchase"
In fact already purchased the products. Remove the local information and try to restore, but get this error: `SwiftyStoreKit.InternalErrorCode.PurchasedWhenRestoringPurchase`.

[2016-04-23 15:00] atjason commented on #26
In fact I even comment out the related code and treat this case as restore succeed. But I'm not sure this way is safe or not. And it has multi IAPs, but can't return them at a time. Seems each of the IAP calls the handler of restore, which is also not what I want.
[code]

[2016-04-23 22:27] bizz84 commented on #22
I made some progress and figured out that since each purchase or restore purchase request registers to the same SKPaymentQueue, it's possible that the callbacks get mixed up when multiple requests are running concurrently.

This pull request should address the problem:
https://github.com/bizz84/SwiftyStoreKit/pull/24

Would you be able to test this in your configuration?
To test the latest code yo

[2016-04-23 22:29] bizz84 commented on #26
This pull request should fix this problem:
https://github.com/bizz84/SwiftyStoreKit/pull/24

See my comments here:
https://github.com/bizz84/SwiftyStoreKit/issues/22

[2016-04-23 22:37] bizz84 commented on #21
PR merged. Closing

[2016-04-23 22:37] #21 closed

[2016-04-23 22:52] atjason commented on #22
Great! Will test and update you.

[2016-04-24 00:05] atjason commented on #22
This issue should be fixed with the patched. Thanks.

My code didn't change, just replace the SwiftyStoreKit by `git clone -b hotfix/transactionQueue-mismatch-fix https://github.com/bizz84/SwiftyStoreKit`. This time when purchase a product which ever being purchased, it doesn't return in case of `SwiftyStoreKit.InternalErrorCode.RestoredPurchaseWhenPurchasing` , but return the case `case .Success(

[2016-04-24 00:12] atjason commented on #26
I'm afraid this issue was not fixed.

My code didn't change, just replace the SwiftyStoreKit by `git clone -b hotfix/transactionQueue-mismatch-fix https://github.com/bizz84/SwiftyStoreKit`.

This time when restore an account which ever purchased, when the handler is called, both restoredProductIds and restoreFailedProducts are empty. And the handler only be called once.
[code]

[2016-04-24 06:39] bizz84 commented on #26
Sorry I'm not sure I fully understand your answer. This is what is expected:

If the product was never purchased and you call `SwiftyStoreKit.restorePurchases()`, you should get:
[code]
If the product was previously purchased, you should get:
[code]

The new API will always return with a single callback, and an empty array in `results.restoredProductIds` if no purchases are found.
Can you confirm

[2016-04-24 16:06] atjason commented on #26
Seems there's some misunderstanding. In my sense, I should get code from `git clone -b hotfix/transactionQueue-mismatch-fix https://github.com/bizz84/SwiftyStoreKit`. The code in this branch doesn't have the new API you mentioned. So should I use the latest code in master?

In another side, I did read the latest code in master. Seems it changes a lot. To be honest, I'm not confident to use these c

[2016-04-24 21:35] bizz84 commented on #3
@odedharth This _should_ now be resolved. Please test pod version 0.2.7 with your app.

[2016-04-24 21:39] bizz84 commented on #26
@atjason I have merged all my changes. Please do any further testing after pulling the latest code in master or use pod version 0.27. Also I have added a Changelog section in the README - hopefully this clarifies all the recent changes that I have made.

[2016-04-25 04:01] #22 closed

[2016-04-27 13:43] atjason commented on #26
@bizz84 Sorry didn't reply in time. In these days I was really busy to submit my app to Mac App Store and some other things. Now the app review is passed, but I plan to manually release it on May 3rd.

I will merge the latest SwiftStoreKit and adjust my code in these days. But I'm afraid I can't really make sure it works before I really test with the app which is already in Mac App Store. Will upd

[2016-04-28 09:31] atjason commented on #25
Update with v0.2.7:

- In `processRestoreResults`, why still treat `.Purchased` as restore failed?

- If try to restore with an account which hasn't purchase any product, the code come to case of `result.restoreFailedProducts.count > 0`, the error information is like `Error code: 0. Unknown Error.`. It means the code will never run into the branch of `Nothing to Restore`.

- If try to restore with

[2016-04-28 09:33] atjason opened #28 "Retrieve Issue for v0.2.7"
If disconnect network connection and try to retrieve product list, will only get error of "No bag entry". It's better using better string if could figure it out.

BTW, did you consider to localise the error strings? There're some choices.
- You can let volunteers help to translate.
- Or let the developer to translate in their own projects.

[2016-04-28 09:38] atjason opened #29 "Purchase Issue for v0.2.7"
- If first purchase `net.toolinbox.ihosts.plus`, then try to purchase `net.toolinbox.ihosts.pro`. The Mac App Store part is correct (show the password dialog, confirm dialog, "Thank You" for purchase succeed dialog), but in `paymentQueue`, beside 2 transaction of `Purchasing` state, only get a transaction with id of `net.toolinbox.ihosts.plus` which was `continued`. And then no more transaction is

[2016-04-28 09:43] atjason commented on #26
@bizz84 This issue itself could be closed as it's fixed. I test with v0.2.7 and found other issues, which I just create new issues. Please check.

To be honest, I feel lucky I didn't use this version for the app to submitted to Mac App Store, but use previous version. But still feel upset for the potential issue. Hope we can really make SwiftStoreKit better.

In another side, if you can reach the

[2016-04-28 09:43] #26 closed

[2016-04-30 10:00] bizz84 commented on #25
Sorry just catching up with this and related issues now. Will try to take a look tomorrow/Monday.

[2016-05-01 10:35] janwagner opened #30 "Bug after merging pull request #24?"
Hi,

everytime after someone has purchased an item, the app asks for the App Store password when you send it to background and bring it back again.

Cheers, Jan

[2016-05-01 17:05] bizz84 commented on #30
Some information relevant to this issue can be found in the [In-App Purchase Best Practices](https://developer.apple.com/library/ios/technotes/tn2387/_index.html) Technical notes from Apple. Specifically the documentation recommends the following:

**_Add a transaction queue observer at application launch_**
_StoreKit attaches your observer to the payment queue when your app calls._

I believe tha

[2016-05-01 17:41] bizz84 commented on #28
All the errors in the project are not meant to be user-facing.

SwiftyStoreKit often returns errors received in the delegate calls of the StoreKit APIs such as:
   - `request:didFailWithError:`
   - `paymentQueue:restoreCompletedTransactionsFailedWithError:`

In other cases, non-localized errors are created on the fly. While I agree that some error strings could be more meaningful, I believe the m

[2016-05-01 18:00] bizz84 commented on #25
# SwiftyStoreKit fixes

Haven't tested this on OS X yet so my answers are limited to the behaviour I observed on iOS. That being said, in answer to your questions:

- In `processRestoreResults`, why still treat `.Purchased` as restore failed?

Starting on v0.2.7, SwiftyStoreKit should never return `.Purchased` when `processRestoreResults` is called. If this is still happening please file a bug.

-

[2016-05-01 22:17] bizz84 commented on #28
This should be at least partially addressed by this PR:
https://github.com/bizz84/SwiftyStoreKit/pull/31

[2016-05-02 08:32] bizz84 commented on #29
@atjason I have registered a new OS X app and two in app purchases so that I can test this on OS X, however I get an 'Invalid Product Identifier' error when I try to retrieve products info.

I have also tried with the test account you sent me before but getting the same problem so I can't test on OS X yet. Are you able to send me login+password for a test account that works?

[2016-05-02 08:47] atjason commented on #29
@bizz84 I just test again with the account I ever sent to you: bizz***3. I could successfully purchase one of the product. Didn't meet the issue of 'Invalid Product Identifier'. Strange you can't do it in your side.

Any way, I just create another test account and sent to you by email. Please let us if it doesn't work.

[2016-05-02 09:34] bizz84 commented on #29
I get this:

<img width="482" alt="retrieve-failed" src="https://cloud.githubusercontent.com/assets/153167/14951501/50186f70-1051-11e6-9762-58f079390832.png">

What bundle ID are your using to register your app? I think it only works if the hosting app has the same bundle ID that is associated to the in app purchases.

[2016-05-02 09:38] atjason commented on #29
The bundle id is "net.toolinbox.ihosts", just the beginning part of the product id. Have a try.

[2016-05-02 09:55] bizz84 commented on #29
Same thing:

<img width="961" alt="retrieve failed" src="https://cloud.githubusercontent.com/assets/153167/14951933/50d75540-1054-11e6-95ad-514781174b0d.png">

<img width="957" alt="purchase failed" src="https://cloud.githubusercontent.com/assets/153167/14951931/4c5d21a2-1054-11e6-80f8-d99b516f6308.png">

I have signed out of iTunes on my Mac, however the app doesn't ask me to sign in to my Apple

[2016-05-02 10:40] atjason commented on #29
@bizz84 there're dozens of possible reason for the "Invalid Production Identifier" issue. Please refer to this check list: [http://troybrant.net/blog/2010/01/invalid-product-ids/](http://troybrant.net/blog/2010/01/invalid-product-ids/)

I'm afraid you can't use my product identifiers for the reason like provision file or others. Perhaps you need to find out why the product you created is treated a

[2016-05-02 10:42] atjason commented on #29
Some other tips you can try:

- Enable the sandbox mode. Enable the 'Outgoing connections (Client)' and 'In-App Purchases' in project settings.
- Signing using 'Mac App Store' in project settings.

[2016-05-02 19:21] psuarez opened #32 "Question on purchase response"
Hello,
I'm using 0.2.7 version
I'm experiencing the following problem:  I got the Success response before I got the Store popups to do the purchase.  Sometimes I got the Failed (Cannot connect to the App Store) and after that the Store popups to do the purchase appear.
Is there a way to control the flow of Store popups? or at least prevent them to appear in those situations?

[2016-05-02 21:41] bizz84 commented on #32
Are you running on iOS or OS X?

Could it be possible that you started the purchase, then closed or killed the app?

It appears that if a purchase is started, the OS continues with the purchase even after the app is killed.
In this scenario, if the app is started again and you perform a purchase, you are likely to receive the callback from the completed purchase from the previous session.

I'm awa

[2016-05-02 21:59] bizz84 commented on #32
Does this StackOverflow Q/A describe well the issue you're encountering?

http://stackoverflow.com/questions/4988663/skpaymentqueue-addtransactionobserver-asking-for-app-store-password-on-startup-a

If so, could you try to follow the steps and let me know if it solves the problem?

[2016-05-02 21:59] psuarez commented on #32
Hi,
I'm using iOS latest version of everything, deployment target 8.0, testing
on iPhone6 with 9.3

I started coding my own IAP but when I found yours totally like it and I
switched last week.
My code for the purchase is exactly the same as the Demo App.

...

      NetworkActivityIndicatorManager.networkOperationStarted()

      SwiftyStoreKit.purchaseProduct(productIDToBuy) { result in

[2016-05-02 22:07] bizz84 commented on #30
This may be the same issue as https://github.com/bizz84/SwiftyStoreKit/issues/32.

Could you read through this and see if any of the suggested steps are of any help?

http://stackoverflow.com/questions/4988663/skpaymentqueue-addtransactionobserver-asking-for-app-store-password-on-startup-a

Thanks.

[2016-05-02 22:19] psuarez commented on #32
Nop is not that case... I'll try to explain it step by step

This is the code, I'll put fake number lines to explain:

L1.     NetworkActivityIndicatorManager.networkOperationStarted()

L2.      SwiftyStoreKit.purchaseProduct(productIDToBuy) { result in

        NetworkActivityIndicatorManager.networkOperationFinished()

L3.        self.showAlert(self.alertForPurchaseResult(result))

        switc

[2016-05-03 04:16] janwagner commented on #30
Your are awesome! The completeTransactions() method fixed it. After starting the app ut printed the unfinished transaction. Now everything is fine. Thx!

[2016-05-03 04:16] #30 closed

[2016-05-03 16:43] bizz84 commented on #32
The issue you are describing seems very similar in nature to this: https://github.com/bizz84/SwiftyStoreKit/issues/30
Would you be able to test with version 0.2.8 and make sure that you call `completeTransactions()` when the app starts in your AppDelegate? This should clear any old pending transactions and should improve things especially if you were testing with multiple accounts.

[2016-05-03 19:01] psuarez commented on #32
I'm testing it, looks promising!

I have 2 more questions after I finish with this one.

Thanks!

On Tue, May 3, 2016 at 11:43 AM, Andrea Bizzotto <notifications@github.com>
wrote:

[2016-05-14 21:58] ShawnAukstak opened #33 "Support for setting of SKPayment applicationUsername"
Unless I'm missing something, It seems as though [SKPayment applicationUsername](https://developer.apple.com/library/ios/documentation/StoreKit/Reference/SKPaymentRequest_Class/index.html#//apple_ref/occ/instp/SKPayment/applicationUsername) can't be set as this is internalized.  [Apple recommends](https://developer.apple.com/library/ios/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Cha

[2016-05-14 22:09] ShawnAukstak commented on #11
@fbartolom  I was able to accomplish this by doing something similar to the below.  Essentially once the SwiftyStoreKit.purchaseProduct completes with a 'Success' result, the receipt data should be stored in NSBundle.mainBundle().appStoreReceiptURL.  You can then send this to along to your server for validation.

[code]

[2016-05-14 23:14] MaxHasADHD opened #34 "SKPaymentTransactionObserver updatedTransactions called multiple times"
I briefly read some of the other threads and it seems like there might be an issue everyone is running into. The `InAppProductPurchaseRequest` class is being deinitialized after `updatedTransactions` is called for other transactions. This results in the completion block being called "early" for the purchase, and causes the completion to not be called when the user actually purchases something agai

[2016-05-14 23:20] #34 closed

[2016-05-16 13:36] acegreen commented on #20
@bizz84 A side question related to this. Does this library have a function to check expiration of a subscription? I would to check somewhere if the subscription is valid and then take away privileges if it expires.

[2016-05-23 21:22] bizz84 opened #38 "Unit tests"
Need to devise a plan and add unit tests for this library as the feature set and the number of contributors has been increasing.

Ideally we could discuss proposed approach for test coverage here and then proceed to implementation.

[2016-05-23 21:27] bizz84 commented on #33
@ShawnAukstak Thank you for reporting this. It looks like a simple change to make - should be able to implement this week.

[2016-05-24 07:05] Techprimate commented on #38
+1 but is it even possible to test Storekit using Unit Tests?
Wouldn't you have to reset the Simulator everytime after successful purchases?

[2016-05-24 07:54] bizz84 commented on #38
In my view all relevant StoreKit classes could be stubbed out with property or constructor injection, so that all tests would be synchronous and not make any network calls.

[2016-05-24 08:39] bb-git opened #39 "Question: Is SwiftyStoreKit working for auto renewing subscriptions?"
I want to use auto renewing subscriptions and persist them in the keychain. Does the library support this?

[2016-05-24 12:04] bizz84 commented on #39
This is currently work in progress - see https://github.com/bizz84/SwiftyStoreKit/pull/36

[2016-05-24 12:47] bb-git commented on #39
Great, looks like it’s nearly done :).

[2016-05-24 18:05] bizz84 commented on #33
This has been implemented on the latest master branch and will be available once version 0.2.9 is released.

[2016-05-24 18:59] ShawnAukstak commented on #33
@bizz84 Thanks so much! I'll pull this down this week and use it for my implementation :)

[2016-05-24 19:50] bizz84 commented on #32
@psuarez did version 0.2.8 solve this in your implementation?

[2016-05-25 15:55] psuarez commented on #32
Hi,
yes, still having some issues with the beta tester users, we didn't know
that Apple considers testflight users as sandbox users so we had to add a
fail back validation of the receipts so we can upload a build to testflight
and have the same build published, that seems to be working for now but
some users are getting the receipt ok but according to our logs the receipt
doesn't contain the produ

[2016-05-25 21:08] bizz84 commented on #32
@psuarez Please take a look at the `ReceiptVerifyURL` type as the correct value should be passed in depending on whether the app runs in Test or Production mode.

Currently SwiftyStoreKit only processes requests but doesn't have a way to track IAPs in more detail and I'm not sure I could come up with an unified set of rules for what needs to be tracked (different organisations may have different r

[2016-05-26 07:24] bizz84 commented on #33
Available on pod/release version 0.2.9

[2016-05-26 07:24] #33 closed

[2016-05-26 07:25] bizz84 commented on #39
Available on pod/release version 0.2.9.

[2016-05-26 07:25] #39 closed

[2016-05-26 07:43] bb-git commented on #39
Great, thanks 👍

[2016-05-26 15:10] odedharth opened #40 "No callback when the a subscription is already purchased"
If user is already subscribed to a subscription and he tries to subscribe again to this subscription - the completion handler never gets executed:

[code]

In order to reproduce:
1. subscribe to a renewable subscription
2. after subscribing successfully - execute the purchaseProduct method again
this window will eventually will show up:
![img_8116](https://cloud.githubusercontent.com/assets/624023

[2016-05-26 16:29] psuarez commented on #32
URLs are ok! Did you understood the problem with the fail-back mechanism?

Off course if I found anything that could be added to the library I'll do
it, for now I think is OK.

On Wed, May 25, 2016 at 4:08 PM, Andrea Bizzotto <notifications@github.com>
wrote:

[2016-05-26 18:08] bizz84 commented on #40
I've been following these steps to test this:

- Open the demo app
- Tap on the Purchase button on the right (which links to an auto renewable subscription)
- Tap through all the IAP messages
- Once complete, tap on the sam purchase button again
- Tap through all the IAP messages

At the end of this sequence, the following messages were logged to console:
[code]

While this is correct, I have obse

[2016-05-26 19:46] odedharth commented on #40
I did ran it without `completeTransactions() `, maybe this was the reason...
I'll update if I'll manage to reproduce this again in the future.
Thanks!

[2016-05-30 18:03] bb-git opened #42 "refresh receipt and validate afterwards"
So if I understand right, I can refresh the receipt if there is no receipt present, while verifying the receipt with: `SwiftyStoreKit.refreshReceipt`

But after doing this, would't it be right to verify the refreshed receipt again calling
`SwiftyStoreKit.verifyReceipt` ?

But in the completion handler I cannot access the product the receipts belongs to. I have nonconsumable products and autorenewi

[2016-06-02 10:34] bb-git opened #44 "receipt validation sandbox / production"
Would it be possible to implement the verification according to apple?

[2016-06-02 11:39] bb-git opened #45 "auto renewable subscription status on app launch"
Is there a way to request the status of subscription on app launch without asking for the user credentials?

If not, is there at least a way to get the notification, when the subscription is being renewed?

Thanks

[2016-06-06 14:00] unittesting0 opened #47 "Update CocoaPod Version"
Please Update CocoaPod Version with the latest changes

[2016-06-09 15:36] bizz84 commented on #47
Updated: https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.2.10

[2016-06-09 15:36] #47 closed

[2016-06-10 09:51] unittesting0 opened #48 "Best practice to store the Shared Secret"
I wondering where to store the Shared Secret as it is very sensitive data.
At the moment i have stored it as a string in the SwiftyStoreKit class but i know that this is not a good idea.
What if I regenerate the Shared Secret, i should update the whole app and would be a mess.

[2016-06-10 09:58] Techprimate commented on #48
I faced this issue before and I got a solution for you: TPObfuscatedString
It is a cocoapod created by me, obfuscating a string by replacing it with method calls

Checkout the README for how it works:
https://github.com/Techprimate/TPObfuscatedString

[2016-06-10 10:37] unittesting0 commented on #48
@Techprimate Seems to be a good alternative, thank you very much. I'm also thinking an alternative to fetch the string remotely from server.

[2016-06-14 15:30] unittesting0 opened #49 "How can i know if a user extends Auto Renewal subscription from Settings or PC"
When a user subscribe I store the expiration date on Firebase but also on NSUserDefaults but How can i know if a user extends Auto Renewal subscription from Settings or PC.

Check here: https://support.apple.com/en-us/HT202039

P.S Should the Auto Renewal subscriptions autorenew itself? After a product expire i verify the receipt and the date does not change, it should be extended for example +1mo

[2016-06-20 06:29] kenjitayama opened #50 "Purchase and product delivery does not seem to be atomic"
Hi, I'm planning to use SwiftyStoreKit in my app, but I have concerns about the following lines:
https://github.com/bizz84/SwiftyStoreKit/blob/ee0def276b170e917a0e80d8eb29d2d614fe327a/SwiftyStoreKit/InAppProductPurchaseRequest.swift#L112-L117

`finishTransaction` is called before any product is delivered.
I think there is a risk that the user will be charged without the product being delivered, es

[2016-06-21 21:17] bizz84 commented on #50
The method `func paymentQueue(queue:updatedTransactions:)` should only ever be called if a product was previously purchased or a restore purchases call was made.

This may happen if the user started a purchase during the current app section, or even if the purchase was completed after the app was closed. The latter case is possible because the purchase flow can continue even after the app is termi

[2016-06-21 21:18] bizz84 commented on #40
I have updated the README file to make it clearer that `completeTransactions()` should be called upon app startup.

[2016-06-21 21:19] bizz84 commented on #44
Thanks for reporting this - unfortunately I haven't had the chance to look into this yet - pull requests would be most welcome.

[2016-06-22 02:11] kenjitayama commented on #50
@bizz84
I understand why `completeTransactions()` must be called on launch, but I'm trying to explain a different problem.
I'd like to write an example of what might happen.

When buying a gem (virtual currency) inside a game:

1. User taps purchase button
2. Purchase request is sent with `SwiftyStoreKit.purchaseProduct`
3. `SKPaymentTransactionObserver` receives a success result with `func paymen

[2016-06-22 08:35] bizz84 commented on #50
I understand now. The first step would be to hold a list of transactions for `.Purchased` and `.Restored` and call `finishTransaction()` after the callback has been called:
[code]
This guarantees that your callback is called before `finishTransaction()` but it still means that your HTTP request may still fail and the user would be charged. I can think of two solutions:
* Your app keeps track that

[2016-06-23 05:40] kenjitayama commented on #50
I was thinking of calling `paymentQueue.finishTransaction(transaction)` after receiving a successful HTTP response from the game server.
But after some more thoughts, I realized this approach gets pretty complicated:

What if the gem increase was done in the game server, but the client failed to receive the response?
The `SKPaymentTransaction` is still active, so the app gets to send another gem i

[2016-06-23 10:05] unittesting0 opened #51 "Purchase Failed: Failed "Cannot connect to iTunes Store" changed from .Test to .Production"
I changed yesterday from .Test to .Production but today i changed back to .Test and In-App purchases does not work i get this:

Purchase Failed: Failed(Error Domain=SKErrorDomain Code=0 "Cannot connect to iTunes Store" UserInfo={NSLocalizedDescription=Cannot connect to iTunes Store})

Can anyone help me what should i do?

[2016-06-24 09:16] unittesting0 commented on #51
I haven't change the code, don't know if it has to do with my apple developer account but these things are still working:
Getting the price of the products
I get the popup to buy it
But at the end it shows me Cannot connect to iTunes Store

What am I missing?

[2016-06-24 20:47] deada92 opened #52 "Xcode 8 & Swift 3.0 compatibility"
hey guys,

I would like to know if theres a status or any workaround to use this pod with xcode 8.. I'm getting errors as soon it converts to swift 3.0..

[2016-06-26 08:16] WorldDownTown commented on #52
+1

[2016-06-26 11:00] deada92 commented on #52
no idea??

[2016-06-26 19:35] bizz84 commented on #52
Xcode 8 is currently beta software.

My current plan for Swift 3 support is as follows:
- towards August I will create a parallel Swift 3 branch.
- once Xcode 8 reaches GM or official release status, I will switch this branch to master and the old master to a Swift 2 branch as to keep compatibility for users still on Xcode 7

pull requests for the Swift3 branch are welcome, in case anyone wants to

[2016-06-26 20:28] deada92 commented on #52
Did u tried whats need to be done? I would like to help but I'm not sure how to start... If you could hint me where to start I may help...

[2016-06-29 13:35] unittesting0 commented on #51
I was able to test with my regular apple ID until 6 days ago, after that i created a sandbox user and now it is ok.

[2016-06-29 13:36] #51 closed

[2016-06-29 15:37] bb-git commented on #44
I'm checking this in the receipt validation method

[code]

[2016-06-29 19:01] Filterd opened #53 "Downloadable content"
Can I use this for IAPs that use downloadable content? (Apple hosted content) I know there isn't any particular functionality for handling downloading, but can I handle downloading myself and just use this library for the purchase part?

[2016-06-30 14:18] Rommanski commented on #53
Hi @Filterd
Sure you can implement downloading by yourself and use this library same time. I did it before.

[2016-07-02 11:26] deada92 commented on #52
any way to use this pod with xcode 8???

[2016-07-02 19:19] bizz84 commented on #52
The first step would be to clone the repo, then load the project with Xcode 8 and perform the code migration to Swift 3.
As I'm not planning to add support for this just yet, you could fork this project, make the changes as described and use this as a submodule.

[2016-07-02 19:21] #50 closed

[2016-07-02 19:22] bizz84 commented on #48
Closing issue as this is strictly out of scope for this project.

[2016-07-02 19:22] #48 closed

[2016-07-02 19:24] bizz84 commented on #40
@odedharth closing the issue for now. If it's still a problem feel free to reopen.

[2016-07-02 19:24] #40 closed

[2016-07-03 04:59] atjason commented on #25
@bizz84 Update: with version 0.2.10, the other issues mentioned in this issue were all fixed. So I close it.

[2016-07-03 04:59] #25 closed

[2016-07-03 04:59] atjason commented on #28
@bizz84 Update: Fixed with Version 0.2.10

[2016-07-03 04:59] #28 closed

[2016-07-03 05:00] atjason commented on #29
@bizz84 Update: Fixed with Version 0.2.10.

[2016-07-03 05:00] #29 closed

[2016-07-03 09:33] deada92 commented on #52
Okay thanks, but what do you mean making the changes as described and use this as described?

Also as far as I know Xcode 8 Supports Swift 2.x. Would that be a option?

[2016-07-04 09:04] bizz84 commented on #52
@deada92 I would follow these steps:

* (optional) Fork this repository, so that you can make changes on your own version
* Clone the repository
* Open the project in Xcode 8
* Xcode should suggest migration to Swift 2.3 or 3.0. Choose either
* Compile. If there are any errors, fix them
* Commit your changes and push them to your repository

As you can't publish a new pod version as you don't own

[2016-07-04 11:43] deada92 commented on #52
thanks @bizz84 !

I already fixed a lot of issues but I'm stucked at the covention of switch cases. I don't see anything wrong but I get error when I use this commit: https://github.com/deada92/SwiftyStoreKit/commit/fa18537d40e301a22647811b8d76d9933ce10a52

Can you look over it & give me a hint?

[2016-07-06 07:36] deekshibellare opened #55 "Usage questions"
1. after SwiftyStoreKit.restorePurchases(), how to check if auto renewable subscription is active?
   Do I need to call verify subscription? SwiftyStoreKit.verifySubscription
2. l`et subscriptionState = SwiftyStoreKit.verifySubscription(productId: "myprouctID", inReceipt: AppState.receipt, validUntil: NSDate(), validDuration: nil)`
   where do I get receipt? Can I use
   receiptInfo = InAppReceipt

[2016-07-10 09:18] bizz84 commented on #42
Apologies for the very late reply.

I have reviewed the code as I didn't implement this entirely myself. From what I can understand:

- you can call `verifyReceipt()` to retrieve the receipt as a dictionary. If this is successful you can test each non consumable product and autorenewing subscription individually against the receipt with the `SwiftyStoreKit.verifyPurchase()` and `SwiftyStoreKit.ver

[2016-07-10 09:41] bizz84 commented on #44
@bb-git Could you test this pull request and see if it works for you?

https://github.com/bizz84/SwiftyStoreKit/pull/56

[2016-07-10 10:03] bizz84 commented on #45
Take a look at the `verifySubscription()` method introduced in version 0.2.9:

https://github.com/bizz84/SwiftyStoreKit#verify-subscription

You should be able to call `SwiftyStoreKit.verifyReceipt(receiptVerifyURL: .Production, password: "your_shared_secret")` and on success call `SwiftyStoreKit.verifySubscription()` with your product id.

This does not require the user to enter the AppleID.

[2016-07-10 10:07] bizz84 commented on #53
@Rommanski @Filterd that's correct. Also for more context this issue about delivering the content asynchronously has been discussed: https://github.com/bizz84/SwiftyStoreKit/issues/50

[2016-07-10 10:09] bizz84 commented on #55
@deekshibellare You should call `verifyReceipt()` followed by `verifySubscription()` as explained here:

https://github.com/bizz84/SwiftyStoreKit#verify-subscription

More information here: https://github.com/bizz84/SwiftyStoreKit/issues/45

[2016-07-10 10:12] bizz84 commented on #10
@odedharth @Bizzi-Body That's correct. This method should be all you need:

`SwiftyStoreKit.verifyReceipt(receiptVerifyURL: .Production, password: "your_shared_secret")`

[2016-07-11 12:03] bb-git commented on #45
In sandbox it was enough to call SwiftyStoreKit.completeTransactions().
The renewed subscription was processed then.

[2016-07-11 21:12] bizz84 commented on #44
Fixed on pod version 0.3.0. Feel free to reopen if there are any issues.

[2016-07-11 21:12] #44 closed

[2016-07-11 21:21] #45 closed

[2016-07-11 21:21] #53 closed

[2016-07-11 21:24] #10 closed

[2016-07-11 21:25] bizz84 commented on #3
@odedharth Closing this. Feel free to reopen if this is still a problem.

[2016-07-11 21:25] #3 closed

[2016-07-11 21:27] bizz84 commented on #52
@deada92 sorry haven't had the chance to further look into this. Hopefully I can start the port to Swift 3 over the coming weeks.

[2016-07-14 01:35] michaelsousa21 opened #57 "JSONDecodeError(Optional(""))??"
I keep getting this error when I try to verify the receipt. How can I fix this?
I'm running the iOS version on xcode 7.3.1

**Debug Output:**
CoreFoundation = 1145.150000
Purchase Success: com.testapp.inapp10
Verify receipt Failed: JSONDecodeError(Optional(""))

[2016-07-15 10:19] deada92 commented on #52
Any what could be the issue??

[2016-07-19 11:33] vCrespoP opened #58 "Question: completeTransactions asks for login with fresh install"
Hi, I'd like to know if I have to call in some special way to "completeTransactions" as it's asking the user to login when the app is freshly installed. It says something similar to what would be translted to English like:
"It is necessary to login. Tap on continue and login in order to look for downloads"

Is there any mechanism for this?
Can this be avoided in order not to ask the login?
Is this

[2016-07-19 20:08] phimage commented on #57
In `InAppReceipt`, `verify`function we receive `safeData` so no `.NoRemoteData` error
But data seems empty so no receiptInfo. Maybe another exception must be throw for that case.

[2016-07-19 20:21] phimage commented on #49
If you do `verifySubscription` you receive a `VerifySubscriptionResult` with a date, or maybe you not use this method
[code]
This date is not updated?

[2016-07-22 09:05] bizz84 commented on #52
@deada92 sorry for the late answer. I have now added Swift 3.0 support on [this branch](https://github.com/bizz84/SwiftyStoreKit/tree/swift-3.0). This has been tested to compile on Xcode 8 beta 3.

Please note that while this compiles, **I have not yet tested if all the APIs work as expected**.

[2016-08-02 09:05] goktugyil opened #59 "iOS Demo app"
Why is it giving me the alert:                             return alertWithTitle("Purchase failed", message: "Please check your Internet connection or try again later")

When I hit cancel instead of buying?

[2016-08-04 08:30] bizz84 commented on #59
That alert error message is displayed whenever an error is returned by StoreKit - any production code should probably check the error domain and error code and show the most appropriate message to the user. The demo app is for demonstration purposes only and just shows a generic error.

[2016-08-04 08:41] bizz84 opened #62 "Rename targets and schemes"
Following the addition of OSX (now macOS) and tvOS compatibility, it seems to appropriate to rename the targets and schemes as follows:
- `SwiftyStoreKit` -> `SwiftyStoreKitIOS`
- `SwiftyStoreKitOSX` -> `SwiftyStoreKitMacOS`
- `SwiftyStoreKitTV` -> `SwiftyStoreKitTvOS`

This should not be a code breaking change for clients as the module would be imported as `import SwiftyStoreKit` as before.

The

[2016-08-06 10:30] odedharth commented on #57
Also received this error after a verification of a successful purchase.
Any update on this?

[2016-08-07 17:39] tomshanks opened #63 "Using SwiftyStoreKit to verify if user has purchased a previous version of app"
Hi guys,

I've got a paid app that I want to make free with in-app purchases. I don't want my users that have already purchased my app to pay for the in app purchase. I had a quick look over your code and I feel I can use it to check the user's receipt to determine if they purchased the app before I changed it from paid to free. I just wondered what you guys thought about this implementation? I'm

[2016-08-08 10:35] bizz84 commented on #58
Apologies for the very late reply!

I've done a few tests with the bundled Demo app (which calls `completeTransactions` on startup) and could not reproduce this issue. These are my steps:

* Open Device Settings -> iTunes & App Stores. Sign out of current Apple ID
* Run the app from Xcode (fresh install) - **no Apple Sign in is shown**
* Purchase an auto renewable subscription
  * Sign in with san

[2016-08-08 10:46] bizz84 commented on #57
I created a PR to return .NoRemoteData when the receipt data is empty: https://github.com/bizz84/SwiftyStoreKit/pull/64

@odedharth @michaelsousa21 Can you try running on this branch? https://github.com/bizz84/SwiftyStoreKit/tree/feature/JSONDecodeError-empty-data

Note that with this change receipt verification will still fail, it just returns a different error case.

[2016-08-08 10:52] bizz84 commented on #63
Interesting question. While I have not tested this, I guess that if the receipt contains the original purchase date you could check it against the date of your price change and unlock the content accordingly. This logic seems a bit brittle though as if you then decide to make the app paid again, you no longer have only one date to compare against. Your call.

[2016-08-08 15:15] Joker666 opened #65 "Type of ReceiptInfo = [String: AnyObject], but it needs to be actual type"
The receipt validation info for non-consumables contains all the history of previously purchased products. But the type is just a dictionary.

ReceiptInfoField is just an enum of string.

The RMStore has an actual type for receipts https://github.com/robotmedia/RMStore/blob/master/RMStore/Optional/RMAppReceipt.h

[2016-08-09 09:44] goktugyil opened #66 "Store hack"
http://blog.gameanalytics.com/blog/how-to-detect-and-prevent-in-app-purchase-hacks.html

Something similar happened to me, a user apparently bought like 200 purchases in 10 minutes and I don't see that money in itunes connect.

[code]

Why is this happening? How can we fix this issue?

[2016-08-10 07:03] aksswami opened #67 "App store constantly asking for password, even if I cancel the it."
I am implementing an in-app purchase with consumable products. The problem I am facing is dialogue box asking for password constantly start appearing, even if I cancel, it pop up again.

While debugging I found that `finishTransaction is not called` in `InAppCompleteTransactionObserver`.

Below method didn't call complete transaction on `callbackCalled = true`, which is causing dialogue box to app

[2016-08-11 13:14] odedharth commented on #57
@bizz84 As I understand the problem it seems that from some reason the purchase succeeds but the verification is failing.  So I'm wondering that maybe the problem is with the purchase function, and not the verification function. Because if a purchase succeeds the verification should be successful.

[2016-08-11 17:06] tosbaha commented on #66
You should do what is called receipt validation. I suggest you do the verification on server side. Since some hacks also allows bypassing local verification. In order to verify receipt on server, you send your receipt in base64encoded to apple servers and check the result for

- Correct server response
- Your bundleId
- Your in_app array
  - Is it empty?
  - Does it have the values user bought

Go

[2016-08-11 20:07] vkortunov opened #68 "Resumption of non-renewable subscription by changing date"
After the expiry of the subscription user can change the system date to the date prior expiration. I suggest using `request_date_ms` from receipt response in `InAppReceipt.verifySubscription`

maybe this function helps:
[code]

[2016-08-11 20:13] goktugyil commented on #66
Thanks, I expected something like this to be done in Apple's frameworks automatically.

[2016-08-16 16:11] felixLam commented on #52
Hi all, I have added PR for Beta 6: #69

[2016-08-19 08:00] hi-guy commented on #67
Same. Appear again and again

[2016-08-19 08:37] bizz84 commented on #67
@aksswami Apologies for the late reply.

So you're saying that the debugger reaches the `callbackCalled = true` line, but `finishTransaction` is not called. With the code above, this can only happen if `transactionState == .Purchasing`.

The `SKPaymentTransactionState` type is defined as:
[code]

So it would appear that if a transaction is `.Purchased`, `.Failed` or `.Restored`, then we should cal

[2016-08-20 09:21] Rommanski commented on #53
Hello @bizz84 I am planning to add functionality for downloading remote content for this library. Not sure, it's already done or not? Will be happy to contribute.

[2016-08-20 16:30] bizz84 commented on #53
@Rommanski thank you for the proposal, however I believe that this library should be simply a **lightweight** layer on top of `StoreKit`, and it would be outside the scope of this framework to offer functionality to download remote content from an arbitrary 3rd party web service.

Also, I feel that for the problem you're describing there is no _one size fits all_ solution as different clients woul

[2016-08-20 16:36] Rommanski commented on #53
Thank you @bizz84  I just want to make own small contribution for this framework. Maybe there is some task that I can do?
With regards

[2016-08-20 17:11] bizz84 commented on #53
@Rommanski There are some outstanding requests that I have not had time to tackle so far, for example this one: https://github.com/bizz84/SwiftyStoreKit/issues/65

Some discussion here: http://stackoverflow.com/questions/19943183/a-complete-solution-to-locally-validate-an-in-app-receipts-and-bundle-receipts-o

Thanks for contributing! 🤗

[2016-08-20 17:18] bizz84 commented on #65
Apologies for the late reply.

@Joker666 Just to clarify what needs to be implemented, are you suggesting to modify the `InAppReceipt.verify()` method so that the completion block returns a strong-typed `ReceiptInfo` type, with all relevant fields parsed from the JSON data?

In other words, refactor this:

[code]

to:

[code]

For reference, this Stack overflow thread summarises quite well the top

[2016-08-21 16:12] goktugyil opened #71 "retrieveProductsInfo always showing dollars for different currency"
The in app purchase dollar price is $4.99. It is showing the correct price and currency in the USA market. But in in other markets, for my experience the Turkish one, its showing $12.99. Which should have been 12,99 TL.

How to fix this?

[2016-08-25 10:29] jlichti opened #72 "Transaction Id of purchase?"
I'm migrating my app to swift from obj-c and found this really nice library. We use google analytics to track purchases and currently pass in the transaction id. For the nice swift callbacks the only thing available is the product id and the transaction observer closure only seems to be called when there isn't an active purchase.

Would it make sense to just always call that closure? Or alternativ

[2016-08-26 02:20] C6silver commented on #71
You need to format for localized currency.  What code are you using to do that?

[2016-08-26 02:57] C6silver opened #73 "Product Price Example Should be Changed"
In the example used to get product details the approach uses the following to get price:

`let priceString = NSNumberFormatter.localizedStringFromNumber(product.price ?? 0, numberStyle: .CurrencyStyle)`

The problem I see with this is that it's using the device's region setting to set currency.  However, it is possible that the device's region settings are not aligned with the locale that Apple is

[2016-08-26 05:45] goktugyil commented on #71
var inAppPurchasePrice = ""

    static func getRecipePartTabletInfo() {
        SwiftyStoreKit.retrieveProductsInfo([inAppPurchaseID]) { result in
            if let product = result.retrievedProducts.first {
                let priceString = NSNumberFormatter.localizedStringFromNumber(product.price, numberStyle: .CurrencyStyle)
                inAppPurchasePrice = priceString
            }

[2016-08-26 05:55] C6silver commented on #71
I have a post at top about how the code you are showing may not be the best way to handle.  However, if your phone's region is set to say Turkey, you should be getting the correct currency symbols.

I think the better way to do this is to set the currency symbol based on what Apple returns as the locale for the amount.  Again I recently posted about this.  Here is the code I may suggest:

[code]

[2016-08-27 18:55] goktugyil commented on #71
Thanks it works as expected

[2016-08-27 18:55] #71 closed

[2016-08-27 18:56] goktugyil commented on #73
https://github.com/bizz84/SwiftyStoreKit/issues/71

I've also had this issue, I think you should send a pull request for this

[2016-08-28 14:15] bizz84 commented on #73
Thank you for suggesting the fix.

Updated: https://github.com/bizz84/SwiftyStoreKit/commit/e479b888a82f58b456df6df13e7ec260fbc3a726

[2016-08-28 14:15] #73 closed

[2016-08-28 17:30] joeycarmello opened #74 "Synchronously load receipt without verification."
Right now the only way to read receipt data is by calling `verifyReceipt`, and getting access to the `ReceiptInfo` in the `VerifyReceiptResult`.

The issue is that this always make a network call out to Apple, just to read receipt data in a format that I can pass into `verifyPurchase`. This makes it impossible provide an offline-enabled app with this framework alone. I'm happy to verify the receip

[2016-08-30 14:04] andresmontelpare opened #75 "Validate Receipt - Security issue"
There are two ways to validate a receipt properly. Locally or via App Store from a server.

https://developer.apple.com/library/ios/releasenotes/General/ValidateAppStoreReceipt/Introduction.html

"Use a trusted server to communicate with the App Store. Using your own server lets you design your app to recognize and trust only your server, and lets you ensure that your server connects with the App

[2016-09-03 12:19] nhantrivinh opened #77 "How to getInfo in an orderly fashion?"
So I have 1, 3, and 6 months subscription option. I am using the getInfo func in the demo with the products appended into an array. As of now the order in which the products appear are random, how do I control this so that it will load 1, 3, 6 months accordingly?

[2016-09-03 18:27] jeremygibbs commented on #77
I have something similar. I store the returned products in an array of type SKProduct and then sort based on price:

`self.products!.sort { $0.price.compare($1.price) == .orderedAscending }`

[2016-09-05 08:40] AlekseyKolosovskiy commented on #11
What about situation, when backend not responding? We need call paymentQueue.finishTransaction manually, when backend respond succeed. How do this with SwiftyStoreKit?

[2016-09-05 11:41] #77 closed

[2016-09-05 11:44] jayvenn opened #78 "Auto-renewable verification ~ Subscription group"
I have 3 products under auto-renewable verification. All of them unlock a feature, but they are of different durations. Would I have to verify all three with SwiftyStoreKit? If not, how would I verify a group of subscription or something like that?

[2016-09-07 08:15] androidcn commented on #78
yes
you can verify all three product with this kit

[2016-09-07 08:17] nhantrivinh commented on #78
How would I verify a group of subscription? By individually checking all of them or is there a way to check a group of subscription is what I am asking :)

[2016-09-08 18:50] srinadh588 opened #79 "Which method will call on repeat transactions on Auto-Renewal Subscptions"
Hi, If we do Auto-Renewal subscription and user turn on for Auto-Renwal. silenty it will done payment. so which completion blcok will call.

[2016-09-09 07:04] paulw11 commented on #11
Further to @AlekseyKolosovskiy  comment, SwifyStoreKit's approach to purchasing doesn't comply with best practice; it calls `finishTransaction` *before* advising the app of the  purchase via the completion closure.  `finishTransaction` should not be called until the app has persisted the purchase.  It should be the responsibility of the caller to make a call to `finishTransaction`, perhaps via a f

[2016-09-11 15:57] androidcn commented on #75
I don't have server. I using locally validation

[2016-09-12 03:26] nhantrivinh commented on #57
So  my purchase succeeded but my verification fail. However, my verification did not fail at first but then "one day" it failed. Something must have changed perhaps on iTunes Connect.

[2016-09-12 03:48] nhantrivinh opened #80 "Receipt Error: NoRemoteData"
Error(SwiftyStoreKit.ReceiptError.NoRemoteData)

The documentation commented
// No data receive
case NoRemoteData

Xcode 7.3
Deployment Target: 9.3
Running: iPhone 6 9.3.3

Any idea what could be causing this error? It was working fine about a week ago.

[2016-09-12 06:25] nhantrivinh commented on #80
UPDATE: MKStoreKit worked fine with all settings on iTunes connect the same.

[2016-09-12 13:11] InnaLMC commented on #52
hi, branch swift-3.0 gets errors for xcode 8 gm, could you please update it?

[2016-09-12 13:27] andresmontelpare commented on #75
As i could see, you are validating the receipt remotely, using this from the device:
        case Production = "https://buy.itunes.apple.com/verifyReceipt"
        case Test = "https://sandbox.itunes.apple.com/verifyReceipt"
This is not a proper way due to is not possible to build a trusted connection between a user’s device and the App Store directly because you don’t control either end of that c

[2016-09-13 02:05] quangpc opened #81 "IPv6 network issue"
I used SwiftyStoreKit for IAP non-consumable product in my app, but it got rejected by Apple with reason about not work on IPv6 network. Is there anyone have the same issue?

[2016-09-13 07:21] bizz84 commented on #52
Updated and merged into master:
https://github.com/bizz84/SwiftyStoreKit/pull/82
I should be able to publish the new pod version shortly.

[2016-09-14 02:25] elilien commented on #81
Yes, they said:

[2016-09-15 08:02] elilien commented on #81
@quangpc I've solved the problem my self today, I just add the Sandbox User to the External Testers, everything worked! So I think maybe the App Store Review team gives us the wrong directions to solve the problem. ;-)

[2016-09-15 17:56] androidcn commented on #52
merge to master，branch?

[2016-09-15 20:21] peddlar opened #83 "a"

[2016-09-15 21:11] bizz84 commented on #52
Yes, master branch now is for Xcode 8 / Swift 3.

I'm currently having issues with publishing a new pod version as `pod lib lint` fails since I migrated to Xcode 8. Until this is resolved you can install SwiftyStoreKit as a submodule or with Carthage

[2016-09-16 02:13] quangpc commented on #81
@elilien Did you pass review?

[2016-09-16 05:48] otymartin opened #84 "Do not display Thank you Alert"
@bizz84
Anyway to skip showing the Thank you alert after a successful purchase?

[2016-09-16 07:45] erdem-inan commented on #81
Hey,
I get exactly the same problem, my app get rejected because of that.
I don't really understand the solution.
 Can you explain more pls ?

[2016-09-16 08:32] rebeloper commented on #81
I have just got Rejected for the same reason of 2.1 with MKStoreKit. Hope I can use SwiftyStoreKit when this gets sorted out. @bizz84 any ideas why purchases can be made through Wifi in Sandbox, but they fail when Apple test it with IPv6? Unfortunately I cannot set up an IPv6 Network of my own (as described here: http://www.brianjcoleman.com/tutorial-how-to-test-your-app-for-ipv6-compatibility/ )

[2016-09-16 08:37] androidcn commented on #52
i. will Waiting for you
Andrea Bizzotto <notifications@github.com>于2016年9月16日 周五上午5:11写道：

--
能蟹仔

[2016-09-16 09:27] bizz84 commented on #52
Pod version 0.5.1 is now published. IF you're using cocoapods, run `pod update` to update SwiftyStoreKit to Xcode 8

[2016-09-16 16:03] elilien commented on #81
@quangpc So sad, I have just got rejected for the same reason...QAQ They said they still not able to purchase your IAP on both iPhone and iPad.

[2016-09-16 16:06] elilien commented on #81
@rebeloper SwiftyStoreKit is just a wrapper for StoreKit, I think it may not affect In-App Purchase with IPv6 Network, and I still believe that there's something wrong with the Sandbox User we create in iTunes Connect.

[2016-09-16 18:22] bizz84 commented on #81
@rebeloper I don't know what is causing the issue.

Unfortunately StoreKit and in app purchase flows are a difficult area to diagnose as there are many variables that can go wrong.
While I cannot exclude that this is an issue with SwiftyStoreKit, it could be a mis-configured Sandbox user or in-app purchase, or something unknown that Apple has changed on iOS 10.

If it can be of any help, I would t

[2016-09-17 22:52] ServusJon opened #85 "Verify if one of two automatical renewable subscription is active"
I wonder what's the most efficient way to verify if one of two automatic renewable subscription  is active. I only found an example for one subscription. But not for two.

Please help :-)

[2016-09-18 19:55] joeycarmello commented on #81
Also rejected for this reason.

[2016-09-19 19:34] alexbilbie commented on #52
@bizz84 I'm still getting the following error with `0.5.1`:

<img width="317" alt="screen shot 2016-09-19 at 20 33 53" src="https://cloud.githubusercontent.com/assets/77991/18646204/6984d6c2-7ea8-11e6-9091-9b9cfe70d6f0.png">

I've tried this too `pod 'SwiftyStoreKit', :git => 'https://github.com/bizz84/SwiftyStoreKit.git', :branch => 'master'` and get the same issue

[2016-09-19 22:11] alexbilbie commented on #52
A quick update on my comment above; I let Xcode run the Swift 3 upgrade tool and despite not finding any code to change it has resolved my problem of being able to use the project.

[2016-09-19 23:15] androidcn commented on #52
Update latest CocoaPods
Alex Bilbie <notifications@github.com>于2016年9月20日 周二上午6:11写道：

--
能蟹仔

[2016-09-21 01:15] mmstart007 commented on #85
hello ServusJon

do you have any examples of auto-renewable subscription?
I haven't found any examples here.
Thanks in advice

[2016-09-21 06:18] ServusJon commented on #85
@mmstart007 just add your subscription inapp purchase to your RegisteredPurchase: https://github.com/bizz84/SwiftyStoreKit/blob/master/SwiftyStoreDemo/ViewController.swift

You can rename the cases to your liking

[2016-09-21 09:04] rebeloper commented on #81
My app just got Accepted! Hurray! It does not use SwiftyStoreKit, it uses MKStoreKit, but here's an update you might find interesting.
Lesson learned: When the Review Team talks about the In-app Purchases failing on IPv6 Network it does not necessarily mean that it's a problem with the IPv6 Newtork compatibility. The Review Team always tests your app on IPv6. The message they send you is just a st

[2016-09-25 12:18] dgilperez opened #86 "Xcode 8 and Swift 2.3?"
Hi!

I'm trying to use this framework along with Turbolinks 5, which requires Swift 2.3. I'm using Carthage to include the library, and I can't get it to build.

`master` branch targets Swift 3, so it won't work. `swift-2-2` branch also fails to build with the following stacktrace:

[code]

So the question is: is SwiftyStoreKit compatible with Swift 2.3, and how to set it up?

Thanks a lot!

[2016-09-25 20:51] bizz84 commented on #86
Hi there,

I have not added support for Swift 2.3 yet (I should have!), however this should not be too difficult if you need it:

* Fork and clone the [Swift 2.2](https://github.com/bizz84/SwiftyStoreKit/tree/swift-2.2) branch
* Open the project with Xcode 8
* Xcode will ask if you want to convert the project to the latest syntax. Choose "Convert" and when asked select Swift 2.3 as a language
* Th

[2016-09-25 20:54] bizz84 commented on #84
@otymartin apologies for the late reply. Do you refer to the alert presented by the demo app? This is for illustration purposes and you don't need to show it.

If you only call SwiftyStoreKit like this you shouldn't get any alerts:

[code]

[2016-09-25 21:47] otymartin commented on #84
@bizz84 Hi I call it in the exact same way above but get an alert everytime for  a successful purchase. I want to get rid of it because I have my own completion popupdialog i want to use

[code]

[2016-09-28 12:30] atljeremy commented on #75
This is definitely a security issue. I was actually just watching the WWDC video titled [Using Store Kit for In-App Purchases with Swift 3](https://developer.apple.com/videos/play/wwdc2016/702/). In that video, Dana, the presenter, discusses never calling the `/verifyReceipt` endpoint from the client and states, "... you should never send a receipt to that api from the device. That is not a secure

[2016-09-28 12:53] rebeloper commented on #75
Also looking forward to local receipt verification, because for now if I want to check for an auto-renewable validation I can't do it if for ex. the user is not connected to the internet. Thanks in advance @bizz84 for the update. SwiftyStoreKit truly is the best wrapper I found.

[2016-10-05 13:34] skymook commented on #11
Swift 2.2
I feel my problem relates to what @paulw11 says. It seems the call back is fired almost right away.

I'm having this problem with an auto renewing subscription. When a purchase is a success, it calls verify receipt, and at this point I can check with a remote server who checks the receipt with Apple's servers.

First I call purchaseProduct. On success I call verifyReceipt, but the call b

[2016-10-07 14:36] unittesting0 opened #89 "Verifitcation Purchase Error: ReceiptInvalid(["status": 21004, "environment": Sandbox], SwiftyStoreKit.ReceiptStatus.SecretNotMatching)"
Accidentaly updated the pods and got updated from 0.2.10 to 0.5.1 and went back to 0.2.10 and now I'm getting this error :Verifitcation Purchase Error: ReceiptInvalid(["status": 21004, "environment": Sandbox], SwiftyStoreKit.ReceiptStatus.SecretNotMatching)

What should I fix?

[2016-10-07 15:05] unittesting0 commented on #89
Included SwiftyStoreKit.verifyReceipt(password:  "password here")
Now it's working, but still confused!

[2016-10-08 15:33] DClark5218 opened #90 "Works in Sandbox, but not on approved apple store app"
Hey @bizz84 thanks for this awesome module! I've created an app with subscriptions and got approved on the app store. Unfortunately it seems like for some reason it doesn't work when a user tries to purchase things.

I get a "cannot connect to apple" error. Very confusing because things work in sandbox mode no problem. Any thoughts on this?

Thanks!

[2016-10-08 16:51] moh1122 commented on #90
same here on sandbox its working perfectly but in real id its not
anyone has a clue?

[2016-10-08 17:00] DClark5218 commented on #90
Glad im not the only one, but concerning that this module no longer works? Hopefully @bizz84 can chime in!

[2016-10-10 18:27] San-Jeevan opened #91 "Receipt for purchaseProduct()"
Why does it not return a receipt when you perform SwiftyStoreKit.purchaseProduct().

All I get back is productID which is useless if you are going to perform validation on a remote server (and not verification on client);

[2016-10-11 13:24] moh1122 commented on #90
can any one help us in this, how can users get the product with real IDS

[2016-10-12 11:29] alexkotenko commented on #81
Same problem here. Anyone got a solution yet?

[2016-10-12 11:31] nikashitsa commented on #81
@bizz84 any updates? Got same reject reason (IPv6).

[2016-10-12 15:20] DClark5218 commented on #90
@moh1122, I got it working. It seems like it takes time for things to propagate across apples servers. It takes 48 hours from when it appears to the apple store.

If things work in sandbox it should work in production after time.

Closing this issue.

[2016-10-12 15:24] moh1122 commented on #90
thanks @DClark5218

[2016-10-12 20:18] bizz84 commented on #81
As @rebeloper has pointed out, there are various reasons why in-app purchases may fail.

@nikashitsa It is quite difficult for me to reproduce exactly the same test configuration that you are using, so I'm afraid I can't be of much help on this.

[2016-10-13 22:49] mingyeow commented on #91
@San-Jeevan - did you ever figure this out?

[2016-10-13 22:49] mingyeow commented on #91
i have the same problem as well

[2016-10-14 04:48] satishreddy17 opened #92 "Compiler and Linker issue for xcode 8 - Swift 3.0"
I am trying to use SwiftStoreKit in my application which i was running in xcode 8 and in swift 3.0, I installed the Swiftystorekit through pods and my pods version is 1.1.0, when i build, it is getting following error, I even converted the framework to swift 3.0 in the project. I kept the Use Legacy in build settings to YES.

This is the error -- "ld: /Users/sgarlapti/Library/Developer/Xcode/Deriv

[2016-10-14 08:50] San-Jeevan commented on #91
No but I found a workaround that works nicely.
When purchase is success, I call on this method:

[code]

[2016-10-15 04:55] francisjervis commented on #91
I figured out the same solution, however I am unable to access the transaction ID or other values from the receipt here - did anyone manage to do that?

[2016-10-15 11:27] San-Jeevan commented on #91
@francisjervis the receipt is a json object. in_app is a property of the receipt. in_app.transaction_id is what you are looking for.

[2016-10-16 05:45] francisjervis commented on #91
@San-Jeevan Thank you for your reply! However, when I try to use
[code]

[2016-10-17 12:56] San-Jeevan commented on #91
@francisjervis yes.
I think in_app is an array.

does this work?
`let r = receipt.in_app[0].transaction_id`

[2016-10-17 15:18] aivars commented on #92
Had a similar problem after exiting project update to the Swift 3.
This one on the end of Podfile solved issue for me:
[code]

[2016-10-17 17:40] francisjervis commented on #91
Thank you once again! Unfortunately no, it does not - the following code based on #10 does, though:
[code]

[2016-10-17 17:42] francisjervis opened #94 "ReceiptInfoField not exposed in receipt object"
See comments on #91 - data in the receipt object returned from verifyReceipt (etc) is not readily accessible.

[2016-10-18 00:24] josueruiz7 commented on #32
I have the method callback :
SwiftyStoreKit.completeTransactions() { completedTransactions in

            for completedTransaction in completedTransactions {

                if completedTransaction.transactionState == .Purchased || completedTransaction.transactionState == .Restored {

                    print("purchased: \(completedTransaction.productId)")
                }
            }

[2016-10-19 16:02] bizz84 commented on #86
Swift 2.3 support has been added here:
https://github.com/bizz84/SwiftyStoreKit/tree/swift-2.3
Available on pod version 0.4.0

[2016-10-19 16:02] #86 closed

[2016-10-19 16:05] #83 closed

[2016-10-19 16:06] bizz84 commented on #89
As you said, you need to specify the secret key in the `password` parameter

[2016-10-19 16:06] #89 closed

[2016-10-19 16:07] #90 closed

[2016-10-19 16:08] dgilperez commented on #86
Ohh nice! 🍺

[2016-10-19 18:59] bizz84 commented on #91
@francisjervis That is correct.
So if you want to purchase a product and verify its receipt you can do this:
[code]

[2016-10-19 19:06] bizz84 commented on #91
Also note that the receipt **does not contain only the latest receipt**.
In other words, if you print `receipt["receipt"]` you'll see the info for all purchases completed so far.

[2016-10-19 19:07] bizz84 commented on #94
Closing as duplicate as answered in both #91 and #10

[2016-10-19 19:07] #94 closed

[2016-10-19 19:14] bizz84 commented on #84
@otymartin This thread may help you:

https://forums.developer.apple.com/thread/24492

It seems that the alert does not always show consistently. In my test environment, it does show.

[2016-10-19 19:34] bizz84 commented on #85
@ServusJon Apologies for the late reply.

If I understand correctly, you have two auto renewable subscriptions and you want to know if any of the two has been purchased?

You could do this:
[code]

Does this answer your question?

[2016-10-19 19:42] bizz84 commented on #79
@srinadh588 Apologies for the late reply.

Apple documentation about this here:
https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Chapters/Subscriptions.html

Quoting:

_After a subscription is successfully renewed, Store Kit adds a transaction for the renewal to the transaction queue. Your app checks the transaction queue on launch and handles t

[2016-10-19 20:29] bizz84 commented on #78
@nhantrivinh Apologies for the late reply.

You can verify the subscriptions individually as explained here: https://github.com/bizz84/SwiftyStoreKit/issues/85

As for subscription groups, I need to read a bit more on the topic to understand how it works and if I need to change something on SwiftyStoreKit to enable it. Overview here:

https://developer.apple.com/app-store/subscriptions/

[2016-10-19 20:37] bizz84 commented on #74
@joeycarmello Apologies for the late reply.

As the user can make multiple purchases over a time period, you may want to always have the most up to date receipt, which is done with a call to `verifyReceipt()`.

In simple cases where for example you have only one purchase available, you could call `verifyReceipt()` only the first time that the purchase has completed and store it locally. After that

[2016-10-19 20:41] bizz84 commented on #72
@jlichti Apologies for the late reply.

You can get the the transaction ID for your purchases by using `verifyReceipt()`, `verifySubscription()` and `verifyPurchase()` as explained in the README.

This has also been answered in #91 and #10.

[2016-10-19 21:01] bizz84 commented on #68
@vkortunov Thank you for reporting this and apologies for the late reply.

So if I understand correctly you are suggesting that we remove the `validUntil` parameter from the `verifySubscription()` method:
[code]
and we extract the `"request_date_ms"` value from the receipt inside`verifySubscription()` and compare it with the receipt expiration date?

[2016-10-19 21:55] bizz84 commented on #68
Fixed here: https://github.com/bizz84/SwiftyStoreKit/commit/d61e30595a49ce6d34925b2ba0be9a3d0d272cbf

[2016-10-19 21:55] #68 closed

[2016-10-19 22:00] bizz84 commented on #57
@michaelsousa21 @nhantrivinh I still need to investigate this further. I'm going to label this as a bug for now.

[2016-10-19 22:04] bizz84 commented on #52
@alexbilbie Still having issues with this or can I close the issue?

[2016-10-19 22:11] oxozle opened #96 "Why you call finishTransaction inside SDK"
I should manually call `finishTransaction` after I receive response from my server. If I buy product and my server return 500 error for example `SwiftyStoreKit` says apple that everything is OK

[2016-10-19 22:41] bizz84 commented on #96
This has already been discussed here: https://github.com/bizz84/SwiftyStoreKit/issues/50

I would suggest that you keep track of when a purchase has been completed until you can successfully deliver the content from your server.

[2016-10-20 02:19] cherishloveyou commented on #75
@bizz84   It means InAppReceipt.base64EncodedString should public to some Guys . because the need verify receipt with server instead call local verify receipt  func

[2016-10-20 07:03] alexbilbie commented on #52
Please feel free to close this issue

[2016-10-20 07:37] #52 closed

[2016-10-21 11:52] San-Jeevan commented on #75
I use a node.js server to verify every in app purchase.

Having security related background I would never consider using the app (client) to verify a receipt. Never trust the client.

To clear a misunderstanding; when Apple say "use an independent server to verify" then are not talking about direct connection to https://buy.itunes.apple.com/verifyReceipt but your own custom serevr.

App --> Server

[2016-10-21 11:56] San-Jeevan commented on #91
Id like to ask for this issue to remain open a little longer because I just got a mail from a customer from Russian who used the in app purchase and i cannot see anything in my server log files!

There is something dodgy going on, im gonna test a little more.

[2016-10-26 18:59] kurdyukovp commented on #91
@bizz84 @San-Jeevan What I should send to my server for validation? receipt["receipt"] ? I tried many options with base64, but got 21002 from Apple.

[2016-11-01 12:34] San-Jeevan commented on #91
Well I have received more in-app purchases and the one case I was talking about appears to be a russian scam attempt. (claiming he bought, but didnt receive the purchased item, turns out it was fake receipt)

[2016-11-01 12:34] #91 closed

[2016-11-01 13:27] womandroid opened #98 "mac app, SwiftyStoreKit.purchaseProduct, callback has never been executed"
hi, i use the following code to purchase product for my mac app, at the beginning, everything is ok: i fill the test account and password, click confirmation buttons and so on, but after I confirm the last dialog, i wait and wait and wait, but nothing is happend, the callback has never been executed. i try again and again and again, but every time is the same. what should i do? did I do something

[2016-11-01 21:39] satishreddy17 opened #99 "Non-renewing subscription cannot be restored"
I was trying to use the swiftystorekit in my project replacing the old existing In App purchase framework, the purchase is working fine but the restore purchases is not working. I tried with different scenerio's but later i came to know that i am not getting any restoreProductIds or restorefailedProducts, when i call the restorePurchases method. It's always says nothing to restore in the last else

[2016-11-01 21:42] satishreddy17 commented on #99
My product is a NonRenewing product.

[2016-11-04 22:57] bizz84 opened #101 "Implement Local Receipt Validation as recommended by Apple"
As recommended by Apple, [local receipt validation](https://developer.apple.com/library/content/releasenotes/General/ValidateAppStoreReceipt/Chapters/ValidateLocally.html) can be performed with a number of steps:

To validate the receipt, perform the following tests, in order:

1. Locate the receipt.
If no receipt is present, validation fails.

2. Verify that the receipt is properly signed by Appl

[2016-11-04 23:54] bizz84 commented on #74
@joeycarmello version 0.5.4 adds a `SwiftyStoreKit.localReceiptData` value to access the local receipt.

Note that local receipt verification is not implemented yet. See #101

[2016-11-05 00:05] #84 closed

[2016-11-05 00:10] bizz84 commented on #92
@satishreddy17 @aivars is the post install script still needed?

I believe this should no longer be necessary:
http://blog.cocoapods.org/CocoaPods-1.1.0/

[2016-11-05 00:12] bizz84 commented on #80
@nhantrivinh Apologies for the late reply. Not sure why you are experiencing this.

Maybe you could try to call `verifyReceipt()` in your App Delegate to ensure the most up to date receipt is always available?

See [sample demo code](https://github.com/bizz84/SwiftyStoreKit/blob/master/SwiftyStoreKit-iOS-Demo/AppDelegate.swift).

[2016-11-05 00:16] bizz84 commented on #75
@cherishloveyou From version 0.5.4, it is now possible to get the local receipt data by calling `SwiftyStoreKit.localReceiptData`. See https://github.com/bizz84/SwiftyStoreKit/pull/100/files

[2016-11-05 00:18] bizz84 commented on #75
@rebeloper I opened #101 to keep track of local receipt validation.

[2016-11-05 00:19] #62 closed

[2016-11-06 15:45] lgfaria commented on #99
I've been experiencing the same issues, lots of users are complaining they can't restore previous purchases. Is anyone looking into this?

[2016-11-06 18:37] bizz84 commented on #99
@satishreddy17 @lgfaria
The `restorePurchases() method should return all restored product IDs and all failed purchases, as long as the user is signed in with the Apple ID that was used to make the purchases in the first place.

I have tested this with my sandbox accounts and it seems to work correctly. I'm not sure what is causing it to not work in your case.

I would try the following:
* Register

[2016-11-06 18:44] satishreddy17 commented on #99
Thank you for your reply. Did the same steps you mentioned and it is not
working, the scenario is when I was trying to restore from a different
device with the same ID. I was handling the restore on the same device
internally and I was not calling the restorePurchases(). I was calling
restorePurchases() when I installed the app in the new device with the same
ID. I am not sure you checked this sce

[2016-11-06 19:17] bizz84 commented on #99
I just tried restoring purchases on my iPad after completing the purchase on my iPhone (both logged in to the same sandbox Apple ID).

Everything worked correctly. I'm not sure what is different in your setup or why it's not working for you.

[2016-11-06 20:17] satishreddy17 commented on #99
Is your product what you tested a nonRenewable or consumable/non-consumable
or autoRenewable??

On Sunday, November 6, 2016, Andrea Bizzotto <notifications@github.com>
wrote:

--
*Satish Garlapati *| iOS Application Developer
*e: satish.garlapati.contractor@weather.com
<satish.garlapati.contractor@weather.com>*
<http://weather.com/apps> <http://weather.com/apps>
<http://weather.com/apps> <http://w

[2016-11-06 21:37] bizz84 commented on #99
Ah, good point. I was testing on non-consumable.
Maybe this answer will help you for non-renewing subscriptions:

http://stackoverflow.com/questions/17609347/restore-transactions-for-non-renewing-subscriptions-without-registration

Quoting:

[2016-11-06 22:26] bizz84 commented on #98
If you try to purchase a non-consumable product again on iOS, you always get a message confirming that you will not be charged again, and if you continue the callback will be called.

I'm not sure if there are differences on this between iOS and macOS. More investigation needed.

[2016-11-07 00:08] satishreddy17 commented on #99
Oh, that means in this case, the restorePurchases() will not work for me? I
mean if we call restorePurchases() from swiftyStoreKit doesn't return
restoreProductIds or failedProdcutIds for a non-renewable product?

On Sunday, November 6, 2016, Andrea Bizzotto <notifications@github.com>
wrote:

--
*Satish Garlapati *| iOS Application Developer
*e: satish.garlapati.contractor@weather.com
<satish.garl

[2016-11-07 08:54] bizz84 commented on #99
@satishreddy17 That seems to be the case. See if you can find the official Apple documentation for this - that should give you the correct answer.

[2016-11-07 12:48] satishreddy17 commented on #99
Yeah Sure, Thank you.

On Mon, Nov 7, 2016 at 3:54 AM, Andrea Bizzotto <notifications@github.com>
wrote:

--
*Satish Garlapati *| iOS Application Developer
*e: satish.garlapati.contractor@weather.com
<satish.garlapati.contractor@weather.com>*
<http://weather.com/apps> <http://weather.com/apps>
<http://weather.com/apps> <http://weather.com/apps>
<http://weather.com/apps> <http://weather.com/apps>

[2016-11-07 13:38] fatgue opened #104 "Touch ID"
How can i use Touch ID with SwiftyStoreKit? For example if i want make in app purchase. I am new in TouchID and inApp purchases.

`let authenticationContext = LAContext()
   var error:NSError?

                guard authenticationContext.canEvaluatePolicy(.deviceOwnerAuthenticationWithBiometrics, error: &error) else {

                    self.showAlertViewIfNoBiometricSensorHasBeenDetected()

[2016-11-07 21:03] bizz84 commented on #104
@fatgue you don't need to write any code to use Touch ID. This is provided automatically as long as you have a device with Touch ID.

[2016-11-08 10:37] fatgue commented on #104
@bizz84 thanks for your answer. I have an Iphone 6s and if i make a IAP the Touch ID  doesn't show up. I will only asked for password and username.

[2016-11-10 20:31] Stealth2012 commented on #96
I have read that discussion but still don't see why did you decide to call `finishTransaction` in `paymentQueue` before app can verify it with server. Could you please explain it?

[2016-11-10 23:04] bizz84 commented on #96
Ok so to clarify:

- I agree that the current implementation does not conform with [Apple's recommendation](https://developer.apple.com/reference/storekit/skpaymentqueue/1506003-finishtransaction):
[code]
- The `purchaseProduct()` method originally conceived for cases where the content can be delivered directly from the app (no server request needed).
- To better support delivery of content loaded

[2016-11-10 23:11] tbaranes commented on #96
Don't know about @Stealth2012, but I think that would be a great move 👍

[2016-11-10 23:13] bizz84 commented on #96
Ok cool. I'll start working on this. Given my current timescales I think it will take me a week to get this done.

[2016-11-11 07:15] Stealth2012 commented on #96
Yeah, looks great!

[2016-11-13 19:18] bizz84 commented on #96
I'm not sure about what is the most desirable API for this. _Some feedback is welcome_.

First of all, I have updated the `PurchaseResult` type returned by `SwiftyStoreKit.purchaseProduct()` to look like this:

[code]

If the user calls `purchaseProduct()` with `atomically` = `false`, she will get a non-nil transaction. After the content is delivered from the server, the transaction can be used li

[2016-11-13 19:33] tbaranes commented on #96
That's a good question. Both have pro and cons. Since `SwiftyStoreKit` is abstracting all the `StoreKit` symbols,  I'll go for a stricter API.  If necessary, `PaymentTransaction` can evolve by exposing some of `SKPaymentTransaction` properties to fulfil the server requirements.

[2016-11-14 03:38] satishreddy17 commented on #99
Hey @bizz84, regarding the restore purchases for Nonrenewable products, I got a way todo from the swiftystoreKit, but not sure whether it is a valid way of doing it or not! When the restore purchase button is pressed if you call verify receipt it will give the receipt if it is success, you will get the start date in the receipt which you can handle by writing manual code for the expiry date based

[2016-11-14 05:54] cwinUser opened #106 "how to identify trial period is over in auto-renewable subscription"
@bizz84  Please help asap.
### Platform
- [x] iOS

### In app purchase type
- [x] Auto-Renewable Subscription

### Environment
- [x] Sandbox
- [x] Production

### Version
ℹ 0.5.0

### Issue summary
In SwiftyStorekit framework, is there any way i can identify that trial period is over in sandbox/production environment for auto-renewable subscription. also is there any need that i should store recei

[2016-11-14 07:30] Stealth2012 commented on #96
I agree, but would be nice if PaymentTransaction could expose transactionId from SKPaymentTransaction.

[2016-11-14 19:39] bizz84 commented on #96
Started implementing this here: https://github.com/bizz84/SwiftyStoreKit/pull/107/files

Non-atomic complete transaction API still needs to be updated, and some more testing is needed. Feel free to try this out.

[2016-11-16 15:54] Stealth2012 commented on #96
@bizz84 we use server to validate purchase and we need transactionIdentifier to find correct transaction in app receipt

[2016-11-16 23:00] bizz84 commented on #96
Non-atomic purchases are now implemented and available on [pod version 0.6.0](https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.6.0).

If there are any problems with the new API, feel free to re-open this issue.

[2016-11-16 23:00] #96 closed

[2016-11-17 22:08] astrokin opened #108 "Implementation should be explicit"
[code]
There is no any reason to do this. Please think about about it in unit-tests perspective and Open/closed principle. I would recommend to let users of your software have more control and modify it's state.

[2016-11-21 00:42] aguila9 opened #110 "completeTransactions leak"
### Platform

- [X] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [X] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [X] Sandbox
- [ ] Production

### Version
0.6

## Report

### Issue summary

Hi, thanks for your great work.

I implemented "completeIAPTransactions()" inside the AppDelegate, as you suggest. I'm using

[2016-11-21 20:23] KiranPanesar opened #111 "User cannot purchase multiple consumables"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [x] Consumable
- [ ] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [ ] Sandbox
- [x] Production

### Version
2.3.2

### Related issues
n/a

## Report

### Issue summary
Some of our users can only purchase one of each consumable in-app purchase. When the user tries agai

[2016-11-23 10:28] dantaylorseo opened #112 "Methods updated but not documented?"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [ ] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [ ] Sandbox
- [ ] Production

### Version
0.5.4

### Related issues

## Report

### Issue summary
I am literally on the first step. I am trying to implement the code you have in the demo app into my App

[2016-11-23 10:36] #112 closed

[2016-11-24 06:50] Stealth2012 commented on #96
Hi, I found that there is still a case when `finishTransaction` will be called inside SwiftyStoreKit.
This is the code from paymentQueue:
[code]

Looks like there is missing a check if `atomically` is `true`:
[code]

[2016-11-25 09:06] bizz84 commented on #96
@Stealth2012 Thanks for spotting this!

I have fixed it in pod version 0.6.1.

Changeset: https://github.com/bizz84/SwiftyStoreKit/commit/0061034e4cc7440ecaeccf8991c75e3b7dfd276c

[2016-11-28 09:36] San-Jeevan commented on #91
just wanted to give an update.

I am receiving more complaints from people that they havent been credited for the purchase.
I check my server logs and I havent received anything but itunes store says I did get purchase.

this library is too unstable if you are going to use a 3rd party server to verify the receipt.
unreliable after refreshreceipt and on purchase.

sucks really.
I have yet to decide

[2016-11-30 13:09] designedbyadam opened #113 "Restore doesn't work /w IAP Promo Code"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [x] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [ ] Sandbox
- [x] Production

### Version
0.5.5

## Report

### Issue summary
I use the default `"SwiftyStoreKit.restorePurchases"`. It's works great (if previously bought the iap from the app), but I g

[2016-12-01 09:39] arm0nic opened #114 "Auto-renewable verification always returns purchased or notPurchases, not expired"
### Platform

- [x] iOS

### In app purchase type

- [x] Auto-Renewable Subscription

### Environment

- [x] Sandbox

### Version
0.6.1

## Report

### Issue summary

I am trying to verify an auto-renewable subscription but for some reason verifySubscription always returns purchased even though the subscription is already expired. I am not sure if the problem lies on my end but I tried different w

[2016-12-01 09:42] unittesting0 commented on #104
@fatgue After the app gets approved in AppStore the touchID for in-app purchases will show up, don't worry!

[2016-12-02 00:28] nitrag opened #115 "PurchaseError / localizedDescription"
Need to have ability to extract localizedDescription from `PurchaseError`.

`(error as? Error)?.localizedDescription` fails

would be nice if it was:
`error.localizedDescription`

Great library! Thanks!

[2016-12-02 18:02] mateo-kozomara commented on #112
Im having the exact same issue. Also when i purchase i get back result purchase failed. Does this library still work?

[2016-12-02 18:06] dantaylorseo commented on #112
Run pod update should sort things out.

Sent from my mobile device.

Dan Taylor

[2016-12-02 18:14] mateo-kozomara commented on #112
perfect, thanks

[2016-12-06 08:56] jk2K opened #117 "Why the first purchase is success, second purchase attempt will cannot connect to itunes store?"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [x] Consumable
- [ ] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [x] Sandbox
- [ ] Production

### Version
ℹ Please replace this with the version of SwiftyStoreKit you're using.
0.4.0

### Related issues
ℹ Please replace this with references to similar issues (either

[2016-12-07 18:02] maodd commented on #117
I got same result, while same app worked a few days ago. Only work around is to uninstall app and reinstall from fresh. because first purchase always works.

This might be related to appstore maintenance.

![screen shot 2016-12-07 at 10 55 03 am](https://cloud.githubusercontent.com/assets/253223/20980134/8d5dde8e-bc6c-11e6-8059-fd50e4d7b96a.png)

[2016-12-16 13:31] dthomasen opened #118 "SSErrorDomain error 100"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [ ] Non-consumable
- [x] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [ ] Sandbox
- [x] Production

### Version
0.6.1

### Related issues

## Report

### Issue summary
When trying to refresh the receipt, I get an error: "The operation couldn't be completed. (SSErrorDomain

[2016-12-18 08:54] Hugo75002 opened #119 "Hosted content is not downloaded"
### Platform

- [ ] iOS

### In app purchase type

- [ ] Non-consumable

### Environment

- [ ] Sandbox

### Version

### Related issues
Hello there,
I'm using the following code to proceed to In App Purchase of Non consumable product. (folder of 11 mp3) . Everything is working except hosted content is not downloaded.

On the relevant code just below , we can read : ""    // Deliver content from s

[2016-12-19 03:24] delucamike commented on #110
I am experiencing the same leak.  Looking forward to a potential solution.

[2016-12-19 13:33] aguila9 commented on #113
Did you try to delete the app, reinstall it and then try to restore? If you already bought the iAP, there is nothing to be restored.  I have successfully redeemed promo codes on my live app.

[2016-12-20 06:52] huangboju opened #120 "Leaks"
<img width="809" alt="2016-12-20 2 50 31" src="https://cloud.githubusercontent.com/assets/14818224/21340802/d89a65be-c6c3-11e6-8336-f29c0969efeb.png">
<img width="660" alt="2016-12-20 2 50 23" src="https://cloud.githubusercontent.com/assets/14818224/21340803/d8d500d4-c6c3-11e6-914d-3aaf7936cccc.png">
<img width="915" alt="2016-12-20 2 50 07" src="https://cloud.githubusercontent.com/assets/14818224

[2016-12-26 03:45] AllDmeat opened #122 "Cancel button leads to SKErrorDomain with code 2"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [x] Consumable
- [ ] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [x] Sandbox
- [ ] Production

### Version
0.6.1

### Related issues
couldn't find any

## Report

### Issue summary
I'm running debug on my iPhone with iOS 10.2.

When I atomically call
`purchaseProduct

[2016-12-28 15:15] bizz84 commented on #122
I have also observed this - this is the error that is returned by `StoreKit` when the user cancels the purchase.

It seems like a generic error so I'm not sure if I can assume that it is only returned in this case and map it to a `.userCanceled` error case.

[2016-12-31 04:04] jerry317 opened #123 "How to use this library in objective-c project?"
It will be great if we can use SwiftyStoreKit in old OC project. Please consider this suggestion.

[2017-01-02 08:53] #118 closed

[2017-01-03 18:05] bb-git commented on #99
If you have a non-renewing subscription you have to take care yourself about saving and restoring them. Therefore Apple requests a login in you application.

[2017-01-05 14:43] nokai commented on #123
+100

[2017-01-07 15:55] YueJun1991 opened #124 "When will be deinit to call SKPaymentQueue.remove(_:) method of the instance 'InAppCompleteTransactionsObserver'?"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [x] Consumable
- [ ] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [ ] Sandbox
- [x] Production

### Version
0.2.10

## Report

### Issue summary
Very grateful to this framework, is indeed very easy to use. I originally used this framework for IAP, but later the compan

[2017-01-09 04:20] odedharth opened #125 "Getting "Purchased failed" when trying to purchase an active subscription"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [ ] Non-consumable
- [x] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [x] Sandbox
- [maybe] Production

### Version
0.5.1

## Report

### Issue summary
Getting from SwiftyStoreKit "Purchased failed" when trying to purchase an active subscription.

### What did you expect

[2017-01-09 14:13] dthomasen commented on #125
I have the same issue here, in production - Auto renewable.

[2017-01-12 01:03] einsteinx2 commented on #125
I'm working on a fix for this as well as for restoring purchases. Expect a pull request tonight or tomorrow unless I run into major snags, as we need this for our production app.

[2017-01-12 23:10] Kymer commented on #101
Have there been any developments in regards to this issue? I was planning on writing a gist / small library for doing local receipt validation myself. I might contribute if there is still a need for this.

[2017-01-13 01:22] einsteinx2 commented on #125
Ok so turns out this is a StoreKit bug (big surprise...). StoreKit displays a "you're already subscribed" dialog, but we get an error code.

So what I did to fix it was have my app automatically refresh the receipt when a store purchase fails, and that worked fine. The error I got was Error Domain=SKErrorDomain Code=2 "Dialog has goto button". However, as I don't trust StoreKit to actually work co

[2017-01-13 01:24] einsteinx2 commented on #125
Here's the pull request: https://github.com/bizz84/SwiftyStoreKit/pull/127

[2017-01-13 01:24] einsteinx2 commented on #125
I tested this workflow working on the iTunes sandbox.

[2017-01-14 07:26] Kymer commented on #125
I'm not sure it's bug. It has been this way for over 3 years (at least). Marco Arment [wrote in a blog post](https://marco.org/2013/12/02/auto-renewable-subscriptions) in December 2013:

But to my knowledge, doesn't this scenario only happen when an existing user installs the app on a new device? From the moment the user hits your big "Restore iTunes purchases" button (which is mandatory when offe

[2017-01-14 16:12] einsteinx2 commented on #125
Just because Apple has a frustrating habit of deferring bugs to next release indefinitely, doesn't make them any less of a bug. :) The UI displaying success, but the framework returning failure (and not even with a distinct error code!) is clearly a bug. I'm sure Apple has a radar on it that they're ignoring... I watched it happen enough times when I was working there to make that assumption.

Tha

[2017-01-14 17:01] masaldana2 opened #128 "Support for content hosted by Apple for non-consumable products"
### Platform

- [x ] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ x] Consumable
- [x ] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [x ] Sandbox
- [ ] Production

Hello!
I want to know how to I access the array of downloads after the item is purchased?

[2017-01-15 10:12] bizz84 commented on #124
@YueJun1991 As SwiftyStoreKit is effectively a singleton and it holds a reference to `InAppCompleteTransactionsObserver` as soon as you call `completeTransactions()`, `deinit` is never called.

Note that `completeTransactions()` is only called in `AppDelegate` in the demo app. This is because the payment queue should be registered as soon as the app starts.

It would be incorrect to call `complete

[2017-01-15 11:38] bizz84 commented on #111
@KiranPanesar apologies for the late reply.

Could you double check that you're definitely using a _consumable_ IAP? This message is typically presented for _non-consumable_ IAPs:
[code]

[2017-01-15 11:41] bizz84 commented on #119
SwiftyStoreKit only gives you the API to make a purchase with Apple.

You have to write the code to download the content from your server.

Also make sure that you pass `atomically: false` (see README).

[2017-01-15 11:41] #119 closed

[2017-01-16 08:41] HyunjoonKo commented on #57
Hi.

The same thing happened to me. The user succeeded in the purchase, but the receipt was not decoded, so the app failed to purchase it. So the user made 10 payments in a row. Is there a way to avoid this?

[2017-01-18 18:38] KiranPanesar commented on #111
Hey @bizz84, this issue was resolved by me switching to the latest version of SwiftyStoreKit a couple months ago. Closing this issue now 👍

[2017-01-18 18:38] #111 closed

[2017-01-19 04:15] nlogioco opened #129 "Auto Renewable Subscription ending on same day"
### Platform

- [ x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [ ] Non-consumable
- [x ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [ x] Sandbox
- [ ] Production

### Version
0.6.3

### Related issues
ℹ Please replace this with references to similar issues (either open or already closed).

## Report

### Issue summary
If my subscr

[2017-01-19 16:53] itchingpixels opened #130 "Questions regarding reliability (after using SwiftyStoreKit in production) and a delegate-based API"
Hi,

First of all, thank you all for your hard work, SwiftyStoreKit is a huge help for us.
We have been using it in production for the last 6 months (migrated over from RMStore), and found it great. (happy for it to be featured in the README: https://itunes.apple.com/us/app/5-minute-italian-drops/id939540371?ls=1&mt=8)
But also, since we made the jump, we have been getting support requests indicat

[2017-01-20 04:12] Tibbs commented on #123
+1

[2017-01-20 17:08] nlogioco commented on #129
So when I print out the receipt, I can see that it list all the purchases including the one just made automatically. But the return of verifySubscription is expired and the date is the date from the first time i called verifySubscription.

[2017-01-20 19:34] nlogioco commented on #129
I figured out the issue. I believe this applies for auto renew only.

`        guard let allReceipts = receipt["receipt"]?["in_app"] as? [ReceiptInfo] else {
            return []
        }
`

This call needs to be changed to

`guard let allReceipts = receipt["latest_receipt_info"] as? [ReceiptInfo] else {
            return []
        }`

https://developer.apple.com/library/content/releasenotes/G

[2017-01-20 20:35] #129 closed

[2017-01-21 04:34] bizz84 commented on #130
@itchingpixels thanks for reporting this!

I am currently working on a major refactor that hopefully will address the 5-10% of cases where purchases don't work correctly. See this PR: https://github.com/bizz84/SwiftyStoreKit/pull/131

This maps more closely to how `SKPaymentQueue` works in StoreKit, while retaining the same familiar callback API.

Other people have requested a way to hook up analy

[2017-01-21 09:51] itchingpixels commented on #130
@bizz84 great, thank you for your response!

Is there anything I can help with the refactor? Do you have a list of actions that are left?
Happy to invest some time into making this happen!

Seeing how the refactor approaches payment processing, I _think_ making that happen could be as easy as adding a "logTransactions" closure to the singleton (as far as the public facing API goes).

[2017-01-21 10:18] bizz84 commented on #130
@itchingpixels For now a code review would be most welcome.

I have added a checklist of tasks here: https://github.com/bizz84/SwiftyStoreKit/pull/131

I expect to complete most of these this weekend.

In terms of additional help I would appreciate some input / PR with unit tests for receipt verification, verify purchase and subscriptions.

Also if you don't mind trying out the new work that would

[2017-01-21 10:24] bizz84 commented on #124
All of this will change soon. Hopefully this PR will fix things:

https://github.com/bizz84/SwiftyStoreKit/pull/131

Testing welcome :)

[2017-01-21 10:27] bizz84 commented on #108
Slowly getting there: https://github.com/bizz84/SwiftyStoreKit/pull/131

I think having an `init()` method with default parameters for dependencies would help with unit tests, however I would still leave the public facing API as is (with any singleton / state private inside the library). What do you think?

[2017-01-21 10:33] astrokin commented on #108
@bizz84 you did a really great job. from the development perspective it would be greate to refactor a little. I did already in my [fork](https://github.com/astrokin/SwiftyStoreKit/tree/swift-2.3) because without these changes i got a crash in release configuration with RxSwift wrapper around your library. We can discuss even more deep refactoring to avoid singleton instance.

[2017-01-21 10:44] itchingpixels commented on #130
Okay, thank you for the info!

My schedule will be the following:
- Will get familiar & review the code, write some unit tests tomorrow (today my time will be taken up by a release)
- Test the branch with our internal QA team on Monday/Tuesday
- If everything is good, release a version of our app with the 'payment-queue-controller' branch to our test country (that's always one version ahead), and

[2017-01-21 11:12] bizz84 commented on #108
I think it's nicer to write:

[code]

rather than:

[code]

In the `SwiftyStoreKit` class, I am planning to have each public **class** method call a corresponding **instance** method via the shared singleton.

By exposing a `public init()` method as well as other public methods, it would be possible to create an instance of `SwiftyStoreKit` and bypass the singleton entirely.

The question is: is t

[2017-01-21 16:25] bizz84 commented on #120
`InAppProductPurchaseRequest` will be removed here: https://github.com/bizz84/SwiftyStoreKit/pull/131.

Would be good to check for similar leaks once the PR is merged.

[2017-01-21 16:28] bizz84 commented on #110
`InAppProductPurchaseRequest` will be removed here: https://github.com/bizz84/SwiftyStoreKit/pull/131

Once the PR is merged, would be good to test for similar leaks.

[2017-01-24 11:08] itchingpixels commented on #130
An update on my progress:
- We're starting to manually QA the new branch today - sorry for the delay.
- I've had a close look at the PR & the code in general. Unfortunately I'm really confused by all the local state that's going on inside the library, and I'm not sure if I'll be able to get my head around it to an extent where it'll be helpful. This is completely different to how I approach state

[2017-01-24 16:14] bizz84 commented on #130
@itchingpixels that's fine, thanks for looking into this.

I plan to keep the main design as is and only iterate in small changes going forward.

I'll also review all the callbacks for thread consistency.

If you encounter any issues with your Q/A, please let me know.

[2017-01-26 10:18] itchingpixels commented on #130
No worries, sorry again.

QA said they've executed 80% of their test plans involving payments and so far they haven't found any issues. I'll confirm when they reach 100% and give green light later today.

[2017-01-30 10:31] yurevich1 opened #132 "AppleReceiptValidator: .production or .sandbox"
Please, help me to understand how it works:

in app purchases are 'sandbox'-like even if I use .production in my iPad.
May I always use `.production`?

Why? I'm confused.

As I know, inside swift code I have to write manually: debug or release code I use.

What happends while using this library?

[2017-02-02 09:05] ramunasjurgilas commented on #132
In the Apple documentation is written that first of all validation should be checked against production and if it fails with specific error (now I can not remember this error code) it should be checked using sandbox environment.
If you will use **.production** value it will be done as I wrote.

[2017-02-02 09:08] ramunasjurgilas commented on #132
One more comment. Receipt validation should not be done on the device. You must to send it to the backend and do validation in the backend. It was mentioned in WWDC 2016 InApp Purchase session.
Receipt validation should be done locally. One way of doing it by using OpenSSL framework.

[2017-02-02 09:15] ramunasjurgilas opened #133 "Question: Local receipt validation"
I could not found in the source code (master). Dose your framework contains local receipt validation?

Like it is written here: [Validate the Receipt](https://developer.apple.com/library/content/releasenotes/General/ValidateAppStoreReceipt/Chapters/ValidateLocally.html).

[2017-02-03 09:10] xiaosongshu commented on #123
Any alternatives you guys are currently using for Objective-C projects?

[2017-02-03 20:54] bizz84 commented on #123
Currently, SwiftyStoreKit cannot be used in Objective-C projects.

The main limitation is that most classes and types in the library are Swift-only.

To address this, two routes are possible:

1. Make all public symbols in SwiftyStoreKit Objective-C compatible (for example by changing `class SwiftyStoreKit` to `class SwiftyStoreKit: NSObject`)
2. Write an Objective-C Swift wrapper on top of Swifty

[2017-02-04 21:51] bizz84 commented on #133
There is already a feature request for this: https://github.com/bizz84/SwiftyStoreKit/issues/101

Closing as duplicate.

[2017-02-04 21:51] #133 closed

[2017-02-04 21:57] bizz84 commented on #101
I don't expect to have time to implement this unfortunately.

Recently we have introduced a `ReceiptValidator` protocol and an [`AppleReceiptValidator`](https://github.com/bizz84/SwiftyStoreKit/blob/master/SwiftyStoreKit/AppleReceiptValidator.swift) class to implement validation with the Apple server.

@Kymer If you are planning to write this yourself, I would advise to create a new class that con

[2017-02-04 22:01] bizz84 commented on #130
@itchingpixels would be good to know if you have migrated to the new [0.7.0 release](https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.7.0) and whether this has resolved the previous IAP problems.

Thanks.

[2017-02-04 22:08] bizz84 commented on #128
@masaldana2 Do you refer specifically to Content hosted by Apple for non-consumable products?

https://developer.apple.com/library/prerelease/content/documentation/LanguagesUtilities/Conceptual/iTunesConnectInAppPurchase_Guide/Chapters/CreatingInAppPurchaseProducts.html#//apple_ref/doc/uid/TP40013727-CH3-SW4

This is not something that SwiftyStoreKit is supporting at the moment. I have tagged this

[2017-02-04 22:11] bizz84 commented on #124
@YueJun1991 could you verify if this is still an issue on version 0.7.0?

[2017-02-04 22:13] bizz84 commented on #120
@huangboju would be good if you could retest this on version 0.7.0. If there are no updates to this issue in the coming weeks I will close it.

[2017-02-04 22:14] bizz84 commented on #117
@jk2K @maodd would you be able to retest this with version 0.7.0? If this issue is not updated in the coming weeks I will close it.

[2017-02-04 22:16] bizz84 commented on #110
@aguila9 could you retest this on version 0.7.0? If this issue is not updated in a few weeks I will close it.

[2017-02-05 07:59] bizz84 commented on #114
@arm0nic Apologies for the late response.

I have been doing some tests with the sandbox. First, I purchased an auto renewable subscription.

Then, I called the `verifySubscription` method and verified the expiry date. In my test, this value was:

`2017-02-05 07:19:25 +0000`

I then observed the following:

* Because the receipt date **is less** than the expiry time, SwiftyStoreKit returns `.purch

[2017-02-05 08:40] bizz84 commented on #114
Also, this could be related to this: https://github.com/bizz84/SwiftyStoreKit/issues/129

Please retest on version 0.7.1.

[2017-02-05 10:39] itchingpixels commented on #130
@bizz84: we've been using it in produysince yesterday. will report back in
a few days about whether we're seeing nore or less problems!
On 2017. Feb 4., Sat at 22:01, Andrea Bizzotto <notifications@github.com>
wrote:

[2017-02-14 02:00] YueJun1991 commented on #124
Hi @bizz84

This time because of holiday and work reasons, there is no way even to reply to you, I am very sorry, but also hope to have more time to test my guess.

When asked questions, I have modified and tested my code, mainly to verify that my solution is complete.

Since my company's project is still using Swift 2.3, I'm not sure if this is one of the reasons for the crash, after all, Swift 3

[2017-02-14 10:07] jianghaoyuan2007 opened #135 "Extra functional from branch swift-2.3"
### Platform
- ✅ iOS

### In app purchase type
- ✅ Consumable

### Environment

- ✅ Sandbox

### Version
swift-2.3 (ed0fc30cc349bf160c8e6ed83c0bd482a161cc22)

### Related issues
ℹ Please replace this with references to similar issues (either open or already closed).

## Report

### Issue summary
ℹ Please replace this with an explanation of the issue, including reproduction steps.

### What did you

[2017-02-15 12:11] RajChanchal commented on #122
@bizz84
I needed to check if user himself cancels the alert asking for user's confirmation before buying. This is how I was doing:
[code]
Can you please add .userCanceled error case?

[2017-02-16 19:48] ChStarfish opened #136 "Ambiguous reference to member 'dataTask(with:completionHandler:)'"
Hello, need help...

I'm using CocoaPods.

In Swift 3.0 i have problem:

~/Pods/SwiftyStoreKit/SwiftyStoreKit/InAppReceipt.swift:214:24: Ambiguous reference to member 'dataTask(with:completionHandler:)'

This problem in this line:

 let task = session.dataTask(with: storeRequest, completionHandler: { data, response, error -> Void in

class func verify(
        receiptVerifyURL url: ReceiptVerifyUR

[2017-02-20 11:00] janremes commented on #130
@itchingpixels Hi, we had experienced similar issue, any updates about your status and performance in production? Thanks!

[2017-02-20 16:01] itchingpixels commented on #130
I'm sorry, I thought I did report back. So far - good. We're still seeing support tickets popping up about "restore purchase" failing sometimes (rarely), but I think we haven't got any about the actual purchase not going through.

[2017-02-20 17:46] bizz84 commented on #122
Hi @RajChanchal,

At the moment you can do this to detect if the payment was cancelled:

[code]

I'm planning to review the error reporting flows so that it's easier to discriminate between various error cases. I may change the `PurchaseResult` type to return `SKError` directly like so:

[code]
With this, it would then be possible to check all the possible codes as documented here:

https://develo

[2017-02-20 22:37] bizz84 commented on #136
You're using an old version of the library. Please update to the latest SwiftyStoreKit.

I have just tested a setup with Xcode 8.2.1, Cocoapods 1.2.0 and SwiftyStoreKit 0.8.0 and everything compiles correctly.

I'm going to close this issue for now. You can open a new one if you're still experiencing problems.

[2017-02-20 22:37] #136 closed

[2017-02-20 22:40] bizz84 opened #139 "Add Code Linting"
This will make it easier to standardize contributions to the project and make them easier to review and accept.

Could use one of the following:

* https://github.com/realm/SwiftLint
* https://github.com/nicklockwood/SwiftFormat

[2017-02-20 22:52] bizz84 commented on #135
You are advised to migrate to SwiftyStoreKit 0.7.0 or greater which introduces some important fixes to the purchase flows.

Note that these are Swift 3.0 only and according to [the project guidelines](https://github.com/bizz84/SwiftyStoreKit/blob/master/CONTRIBUTING.md), Swift 2.3 is no longer supported.

I'm closing this issue for now - if you encounter any issues with the latest version feel fre

[2017-02-20 22:52] #135 closed

[2017-02-20 22:55] phimage commented on #120
I think same things could be found in `InAppProductQueryRequest`

[code]
could be
[code]
or
[code]

[2017-02-20 22:56] bizz84 commented on #132
@yurevich1 as @ramunasjurgilas pointed out, you should use the `.production` mode. SwiftyStoreKit will automatically retry with `.sandbox` if needed.

Contributions are welcome on local receipt validation.
I'm going to close this issue as this is already tracked here: https://github.com/bizz84/SwiftyStoreKit/issues/101

[2017-02-20 22:56] #132 closed

[2017-02-20 23:02] bizz84 commented on #123
As outlined in [the project guidelines](https://github.com/bizz84/SwiftyStoreKit/blob/master/CONTRIBUTING.md), Objective-C support is not planned for this library.

If you want to use this library on Objective-C projects, I suggest writing an Objective-C compatible Swift wrapper for the specific functionality that you need, and import that.

I'm going to close this issue for now.

[2017-02-20 23:02] #123 closed

[2017-02-20 23:03] bizz84 commented on #122
This has now been fixed in version [0.8.0](https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.8.0). Please update.

[2017-02-20 23:03] #122 closed

[2017-02-20 23:05] bizz84 commented on #120
@phimage good point. I'm aiming to fix this in the next minor release.

[2017-02-20 23:07] bizz84 commented on #117
Closing this issue for now. If you still encounter purchase issues feel free to reopen or create a new one.

[2017-02-20 23:07] #117 closed

[2017-02-20 23:09] bizz84 commented on #114
@arm0nic let me know if this is working for you.

I will close this issue in the next couple of weeks if there are no updates.

[2017-02-20 23:11] bizz84 commented on #113
I'm not too familiar with how promo codes work with `StoreKit`.

I would suggest updating to the latest SwiftyStoreKit and do as @aguila9 suggests.

If there are no updates to this issue in the next few weeks I will close it.

[2017-02-20 23:13] bizz84 commented on #110
Tracking memory leaks on this other issue: https://github.com/bizz84/SwiftyStoreKit/issues/120

The one you refer to should no longer happen as `InAppProductPurchaseRequest` was removed on version 0.7.0.

Closing this issue.

[2017-02-20 23:13] #110 closed

[2017-02-20 23:16] bizz84 commented on #104
Closing this as iOS handles this correctly for live apps. No custom touch ID code is required.

[2017-02-20 23:16] #104 closed

[2017-02-20 23:20] bizz84 commented on #99
There have been some major improvements to the purchase flows recently.

@satishreddy17 can you retest with SwiftyStoreKit version 0.8.0?

If this issue is not updated in the next few weeks it will be closed.

[2017-02-20 23:21] bizz84 commented on #98
There have been some major improvements to the purchase flows recently.

@womandroid Could you retest this on version 0.8.0?

If this issue is not updated in the next few weeks I'll assume everything works fine and will close it.

[2017-02-20 23:25] bizz84 commented on #92
Looks like Xcode 8.2.1 still doesn't default `SWIFT_VERSION` to 3.0 so it looks like the change to the Podfile is till needed.

I'm closing this issue as it's not really specific to SwiftyStoreKit.

[2017-02-20 23:25] #92 closed

[2017-02-20 23:26] bizz84 commented on #85
Closing this issue due to inactivity. @ServusJon If you're still experiencing problems with this feel free to re-open.

[2017-02-20 23:26] #85 closed

[2017-02-20 23:30] bizz84 commented on #80
Recently there have some major improvements to the purchase flows that may have an impact on this.

@nhantrivinh could you retest with the latest version?

If this issue is not updated in the next few weeks I'll close it.

[2017-02-20 23:31] bizz84 commented on #79
Closing this due to inactivity.

[2017-02-20 23:31] #79 closed

[2017-02-20 23:33] bizz84 commented on #75
Closing this as local receipt validation is tracked here: #101

[2017-02-20 23:33] #75 closed

[2017-02-20 23:34] bizz84 commented on #101
Closed linked issue as duplicate: #75

[2017-02-20 23:36] bizz84 commented on #74
@joeycarmello does the addition of `SwiftyStoreKit.localReceiptData` solve your problem?

If this issue is not updated in the next few weeks I will close it. Local receipt verification is tracked here: #101

[2017-02-20 23:40] bizz84 commented on #72
@jlichti Following recent changes to the purchase flows you now get access to the transaction identifier when a purchase succeeds.

I believe this should satisfy your requirements and I'm closing this issue.

Feel free to reopen if you need further details.

[2017-02-20 23:40] #72 closed

[2017-02-20 23:41] bizz84 commented on #67
@aksswami can you retest this with the latest SwiftyStoreKit?

The purchase flows have been improved considerably since this issue was opened.

I will close this in a few weeks if there are no updates.

[2017-02-20 23:43] bizz84 commented on #66
Local receipt verification is being tracked here: #101

Closing this issue for now. @goktugyil If needed, feel free to reopen.

[2017-02-20 23:43] #66 closed

[2017-02-20 23:44] bizz84 commented on #63
Strictly, I feel that this is not an issue **with** SwiftyStoreKit itself.

Closing this due to inactivity.

[2017-02-20 23:44] #63 closed

[2017-02-20 23:46] bizz84 commented on #59
@goktugyil Version [0.8.0](https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.8.0) updates the error checking flows so that you can now check if the user has canceled the purchase.

Please update to the latest version.

Closing this issue as resolved.

[2017-02-20 23:46] #59 closed

[2017-02-20 23:47] bizz84 commented on #58
@vCrespoP closing this due to inactivity.

[2017-02-20 23:48] #58 closed

[2017-02-20 23:50] bizz84 commented on #57
There have been some significant improvements to the purchase flows recently.

@michaelsousa21 @nhantrivinh @HyunjoonKo can you retest this with the latest version, and let me know if it works correctly now?

[2017-02-20 23:51] bizz84 commented on #55
@deekshibellare closing this due to inactivity - however please feel free to open a new issue if you need further clarifications.

[2017-02-20 23:51] #55 closed

[2017-02-20 23:53] bizz84 commented on #49
@unittesting0 closing this issue due to inactivity.

Please update to the latest SwiftyStoreKit and feel free to open a new issue if you're still experiencing problems.

[2017-02-20 23:53] #49 closed

[2017-02-20 23:57] bizz84 commented on #32
@psuarez Apologies for the very late reply.

There have been some major improvements to the purchase flows recently.

Could you update to the latest version and let me know if everything now works as expected?

I will close this issue if there are no updates in the next few weeks.

[2017-02-21 00:01] bizz84 commented on #11
Since this issue was originally opened I have added **non-atomic** transactions to SwiftyStoreKit, and local receipt verification is being tracked here: #101.

I'm going to close this issue for now. I would advise everyone to update to the latest version, and open new issues if you experience any problems.

[2017-02-21 00:01] #11 closed

[2017-02-21 07:33] phimage commented on #115
`PurchaseError`doesn't exist anymore #138
issue could be closed

[2017-02-21 07:55] phimage commented on #139
You cannot use the two tools at same time without configuring it
for instance they disagree about last comma in array (so if you use the two, you must deactivate some rules)

I think swiftlint is a better choice because it is 'lint', not only format
 (swiftformat do better with some space between parenthesis, maybe one pass can be done)

for a first step do a `swiftlint autocorrect`

then to test

[2017-02-21 11:05] #115 closed

[2017-02-21 13:23] chaocharleswang opened #140 "Always get "Restore Failed""
### Platform

- [x ] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [ x] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [ ] Sandbox
- [x ] Production

### Version
0.8.0

I always get "Restore Failed" message when restoring purchases.

SKError(_nsError: Error Domain=SKErrorDomain Code=0 "Cannot connect to iTunes Store"

[2017-02-21 14:13] RiverbayChris commented on #139
I vote for swiftlint!

[2017-02-21 14:16] tbaranes commented on #139
+1 for SwiftLint

[2017-02-21 14:59] RiverbayChris commented on #74
It would be nice if we could get access to this localReceiptData as a Dictionary or ReceiptInfo (just like the AppleReceiptValidator does), so we can easily retrieve the properties in the local receipt. This would solve the need to store any productIds and other properties within the app itself, as we can just read directly from the receipt file using SwiftyStoreKit.

[2017-02-21 21:52] bizz84 commented on #139
@phimage Totally impressed with swiftlint. I set it up and fixed all linting errors in half hour!

Will use it on all my projects from now on! Thanks everyone for recommending it 💯

[2017-02-21 22:32] bizz84 commented on #140
@chaocharleswang I have just observed this as well when using a production Apple ID on one of my apps.

Some debugging revealed that the `PaymentQueueController.restoreCompletedTransactionsFailedWithError` is called when attempting to restore purchases, and this causes it to fail.

Following that, SwiftyStoreKit reports an unhandled transaction on the payment queue, but by the time this is receive

[2017-02-21 23:33] bizz84 opened #142 "Review console logging statements"
SwiftyStoreKit uses `print` to show various logging messages regarding transactions processed by the framework.

To make the most out of this, it is desirable to:

* Make logs as clear as possible
* Add the ability to enable/disable logs or add log levels

[2017-02-22 22:09] bizz84 commented on #120
@huangboju Just noticed you reported a leak on `InAppProductQueryRequest`, not `InAppProductPurchaseRequest`, so this issue still stands. Working on a fix now.

[2017-02-23 06:46] huangboju commented on #120
@bizz84 Thinks

[2017-02-23 06:46] #120 closed

[2017-02-23 08:18] bizz84 commented on #139
Available on version 0.8.1

[2017-02-23 08:18] #139 closed

[2017-02-24 14:05] Cyphontin opened #146 "Can't retrieve queue transactions"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [x] Consumable
- [ ] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [x] Sandbox
- [ ] Production

### Version
 0.8.1

Hello,
SwiftyStoreKit.completeTransactions working only once, when you start the App.
After it's impossible to see purchased transactions who need to be

[2017-02-24 17:06] bizz84 commented on #146
@Cyphontin SwiftyStoreKit doesn't keep hold of the transactions after they are returned in the completion block, and I think it's beyond its scope to handle that.

What you can do is write your own code to hold on to the transactions. When your server is back and the content is finally delivered, you can then call `finishTransactions`.

If your server only comes back after the user leaves or kills

[2017-02-24 17:14] Cyphontin commented on #146
I did it, but my problem is how to completeTransactions() ?
I tried all to have a list of unhandled transactions but never working.

[2017-02-24 22:44] bizz84 commented on #146
@Cyphontin I'm suggesting something along these lines:
[code]

This way you can cache the products and implement any required retry logic yourself.

Would this work in your case?

[2017-02-24 22:53] bizz84 commented on #74
@RiverbayChris as I said, this can be retrieved with `SwiftyStoreKit.localReceiptData`:

[code]

You can see how this is used in [InAppReceipt.swift](https://github.com/bizz84/SwiftyStoreKit/blob/master/SwiftyStoreKit/InAppReceipt.swift) and [AppleReceiptValidator.swift](https://github.com/bizz84/SwiftyStoreKit/blob/master/SwiftyStoreKit/AppleReceiptValidator.swift).

Does this answer your questio

[2017-02-24 23:14] bizz84 opened #147 "Expand iOS demo application to include more usage examples"
Expand iOS demo application to showcase how to use the following:

### Purchases

- [x] Consumable
- [x] Non-consumable
- [x] Auto-Renewable Subscription
- [x] Non-Renewing Subscription
- [x] Restore purchases
- [x] Complete transactions (done in AppDelegate)

### Variants
- [x] Atomic purchase
- [ ] Non atomic purchase (content hosted by Apple - see: https://github.com/bizz84/SwiftyStoreKit/issue

[2017-02-24 23:14] Cyphontin commented on #146
Thank you, but the only thing I need is the list of all transactions need to be finish.

[2017-02-24 23:21] bizz84 commented on #146
@Cyphontin You can get that from `completeTransactions()`:

[code]

This only gives you the initial list when the app launches, but you can track this yourself as you add more payments while the app runs.

[2017-02-24 23:37] Cyphontin commented on #146
Yes that's working only one, this is the mystery.
It's working when you start the app.
If you try this after a payment it will not give you the list.

[2017-02-25 02:09] odedharth opened #148 "Issues in production"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [ ] Non-consumable
- [x] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [ ] Sandbox
- [x] Production

### Version
0.6.1

## Report

### Issue summary
In the last 24 hours we have seen a very significant and unusual decrease in the number of successful purchases of our subsc

[2017-02-25 07:22] #148 closed

[2017-02-25 09:26] bizz84 commented on #146
That's how this is intended to work because `completeTransactions()` is really just an observer to the payment queue that receives unfinished transactions, **once**.

In other words, `completeTransactions()` is not meant to be called more than once. See documentation in the README.

So when you make payments it's your responsibility to keep track of new transactions and call `finishTransactions()`

[2017-02-25 09:28] bizz84 commented on #148
There were some known issues with the purchase flows up to version 0.6.x.

Since 0.7.0 things are considerably improved. I recommend updating to the latest version.

[2017-02-25 10:13] Cyphontin commented on #146
I understand, and yes the solution is to keep track of transactions.
Thank you for your time.

[2017-02-25 12:17] Cyphontin commented on #146
Last question, is it possible to save and restore a SKPaymentTransaction for (SwiftyStoreKit.finishTransaction(product.transaction))  in   NSUserDefaults  ?

[2017-02-25 13:01] bizz84 commented on #146
You don't need to do that.

If the app is restarted and there are unfinished transactions from the previous session, `completeTransactions()` will return them all as soon as it's called.

This may even work if you delete and reinstall the app.

[2017-02-25 21:38] bizz84 opened #149 "completeTransactions should not call completion block if there are no transactions to be processed"
### Platform

- [x] iOS
- [x] macOS
- [x] tvOS

### In app purchase type

- [x] Consumable
- [x] Non-consumable
- [x] Auto-Renewable Subscription
- [x] Non-Renewing Subscription

### Environment

- [x] Sandbox
- [x] Production

### Version
0.8.1

## Report
`completeTransactions()` completion block is called with zero products when making a purchase or restoring purchases.

### Issue summary
- Star

[2017-02-25 21:43] bizz84 commented on #149
Note: this bug doesn't have adverse effects in production as long as the array of products in the completion block is checked according to the README.

[2017-02-26 09:03] bizz84 commented on #149
Fixed in [pod version 0.8.2](https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.8.2)

[2017-02-26 09:03] #149 closed

[2017-02-26 09:06] #124 closed

[2017-02-28 15:26] goktugyil commented on #59
Thanks

[2017-03-01 08:49] kostasoft opened #153 "Verification of the receipt on server side (non-atomic purchase)"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [x] Consumable
- [ ] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [x ] Sandbox
- [ ] Production

### Version
ℹ 0.8.2

### Related issues
ℹ Please replace this with references to similar issues (either open or already closed).

## Report

### Issue summary
ℹ Hello!

Wh

[2017-03-01 16:36] kostasoft commented on #153
Sorry. Problem in a php-script. Where - yet hasn't found, but it has no relation to SwiftyStoreKit any more

[2017-03-02 08:36] tbaranes opened #154 "`retrieveProductsInfo` returns valid or invalid product randomly in sandbox"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [x] Consumable
- [ ] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [x] Sandbox
- [ ] Production

### Version

0.8.2

### Related issues

N/A

## Report

### Issue summary

Not sure if that's a real bug or just due to the sandbox environment: when fetching products from

[2017-03-04 13:33] hamzauzumcu opened #155 "Receipt refresh and verification failed"
### Platform

- [X] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [ ] Non-consumable
- [ ] Auto-Renewable Subscription
- [X] Non-Renewing Subscription

### Environment

- [ ] Sandbox
- [X] Production

### Version
0.8.2

### Related issues
ℹ Please replace this with references to similar issues (either open or already closed).

## Report

### Issue summary

        let re

[2017-03-04 22:10] MaeseppTarvo opened #156 "Value of type 'PurchaseError' has no member 'code'"
### Platform

- [9.0 ] iOS

### In app purchase type

- [ ] Consumable
- [* ] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [* ] Sandbox
- [ ] Production

### Version
Latest

I get the error "Value of type 'PurchaseError' has no member 'code'". Weird thing is that I copy pasted the code. It is in the alertForPurchaseResult() function.

What co

[2017-03-04 22:17] MaeseppTarvo commented on #156
NVM problem fixed. Why the pod is outdated and why you have to do pod update after fresh install of the library?

[2017-03-04 22:17] #156 closed

[2017-03-06 05:55] returnzer0 opened #157 "Error Domain=SKErrorDomain Code=3 Invalid product id"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [x] Consumable
- [ ] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [x] Sandbox
- [ ] Production

### Version
ℹ Swift 3.0 >= 0.5.x

### Related issues
Purchase Issue for v0.2.7 #29

## Report

### Issue summary
I'm testing IAP in sandbox, I have followed this link http:

[2017-03-06 23:45] Zerocool27 opened #158 "Invalid Product Id for Auto-Renewable-Subscription"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [ ] Non-consumable
- [x] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [x] Sandbox
- [ ] Production

### Version
0.8.2
### Related issues
ℹ Please replace this with references to similar issues (either open or already closed).

## Report

### Issue summary

Always getting

[2017-03-07 13:02] hamzauzumcu commented on #155
Hi everyone,
I fixed the issue. "SwiftyStoreKit" works perfectly.

So,
**Where did i make mistakes?**
I logged in with my real account the issue is right here. When I logged in with the sandbox account I solved the problem.
Good coding guys!

[2017-03-07 13:02] #155 closed

[2017-03-07 14:00] androidcn commented on #140
i have same problem...
how to fix?

[2017-03-07 14:19] androidcn opened #159 "Restore issue"
### Platform

- [X] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [X] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [X] Sandbox
- [ ] Production

### Version
latest

always report

Restore Failed: [(__C.SKError(_nsError: Error Domain=SKErrorDomain Code=0 "无法连接到 iTunes Store" UserInfo={NSLocalizedDescription=无法连接到 iTu

[2017-03-07 21:06] quantumproducer commented on #158
Hi, I am successfully able to create a subscription with a Sandbox account...
However, I am unable to reproduce this in a cURL. I am logging out the `self.base64encodedString` and using my shared secret password but Apple's servers reject the request with `21001`.

http://stackoverflow.com/questions/42656273/in-app-purchase-swifty-store-kit-showing-valid-purchase-curl-shows-error-code-2

If you ar

[2017-03-07 21:10] quantumproducer opened #160 "Unable to reproduce Swifty's in app purchase"
### Platform

- [X ] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [ ] Non-consumable
- [ X] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [ X] Sandbox
- [ ] Production

### Version
branch "swift2" of     pod 'SwiftyStoreKit', '~> 0.3.0'

### Related issues
https://github.com/bizz84/SwiftyStoreKit/issues/158

## Report

### Issue summary

[2017-03-09 16:08] shuhrat10 commented on #154
I'm also getting invalidProductIDs all the time.

[2017-03-09 16:36] shuhrat10 commented on #154
@bizz84 I'm having Auto-Renewable Subscriptions. I think this issue need to be fix as soon as possible as many users trying to fetch all available subscriptions from iTunesConnect and then display subscription details (Subscription Name and Price)

[2017-03-09 17:14] bizz84 commented on #154
@shuhrat10 @tbaranes do you know which was the latest version where this was working for you?

I've been testing with the demo app and this works consistently with my sandbox user.

[2017-03-09 17:27] bizz84 commented on #154
Also maybe this info is relevant:
http://troybrant.net/blog/2010/01/invalid-product-ids/

[2017-03-09 17:28] bizz84 commented on #158
May be related to #154

[2017-03-09 17:45] bizz84 commented on #157
This is the same as #154.

Closing as duplicate

[2017-03-09 17:45] #157 closed

[2017-03-09 18:19] shuhrat10 commented on #154
@bizz84 it's working fine on iOS but it's not working on tvOS.

I'm using SwiftyStoreKit (0.8.2) tvOS 10.1.

[2017-03-10 06:56] tbaranes commented on #154
It never worked for me, but it's my first project using that `SwiftyStoreKit`, so hard to say... I will give a try to your link and keep you updated.

[2017-03-10 08:23] bizz84 commented on #154
@tbaranes It's possible that only my sandbox users will work with the demo app. You could try to substitute your own product identifiers and see if it works with your sandbox users.

[2017-03-10 10:47] antonijap opened #162 "Invalid product ID pops when app is live on App Store, but not in testing."
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [x] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [ ] Sandbox
- [x] Production

### Version
ℹ 0.8.2

## Report

### Issue summary
ℹ I have one in-app purchase and it works when I test it in Simulator and my own iPhone. I published an app and when a use

[2017-03-10 17:24] bizz84 commented on #154
One of my apps is using SwiftyStoreKit v0.6.1 in production and I have verified that all product IDs are valid with that version as the purchase succeeds.

I'm going to update my app to the latest version 0.8.3 and submit to the App Store.

The only change concerning retrieving products info from v0.6.1 to v0.8.3 is that the `SKProductsRequest` request is now made on the calling thread (main), rat

[2017-03-10 17:33] tbaranes commented on #154
I don't think their an issue in the library itself, it looks like a bug from IAP itself since the fetchProduct is just a wrapper of `StoreKit`. That's a good idea to try it with your sample app and my own credentials, I will do it next week and keep you in touch!

[2017-03-10 17:43] bizz84 commented on #159
Do you get an invalid product ID error? If so this is a duplicate of #154

[2017-03-10 17:45] bizz84 commented on #162
Closing this as duplicate of #154. Please follow the discussion there.

It seems like many users have been seeing Invalid Product Identifier errors in the last 2 weeks.

[2017-03-10 17:45] #162 closed

[2017-03-11 09:30] antonijap commented on #154
Weird thing happened. I commented out alert with "Invalid product ID", just included print and now it works. I tried with external tester and they were able to go through in-app purchase.

[2017-03-11 20:36] JB288 opened #163 "SSK Doesn't check for cancelled_date on Auto-Renewable Subscription"
### Platform

- [X] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [ ] Non-consumable
- [X] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [X] Sandbox
- [ ] Production

### Version
0.8.3

### Related issues
maybe [#106](https://github.com/bizz84/SwiftyStoreKit/issues/106 "how to identify trial period is over in auto-renewable subscription"

[2017-03-11 22:04] returnzer0 commented on #154
If this is actually a bug, please fill out an apple bug report for this. I have already done so and am waiting for a reply.

[2017-03-13 13:03] JB288 commented on #163
Thans!

[2017-03-13 13:03] #163 closed

[2017-03-13 21:02] bizz84 commented on #154
@returnzer0 I'm planning to write a small sample app including only the code in SwiftyStoreKit to retrieve products, test it and submit it to Apple with a radar.

[2017-03-14 21:43] gerasimospy commented on #154
I am also having the same issue with AutoRenewSubscriptions in TVOS.  I get Invalid Product ID Error when requesting list and the same when trying to purchase.

[2017-03-15 00:06] returnzer0 commented on #154
Apologies on my side, turns out our tax forums were not filled so that's why there was no certificate granted for paid apps, therefore no testing was allowed. I will respond back with the results once that is done.

[2017-03-15 09:03] tbaranes commented on #154
While trying to fetch product information using my bundle id in your sample app, I find a small difference: you fetched the products after a user action, whereas I'm fetching them in `didFinishLaunchingWithOptions`. So, since I can't reproduce the issue in the sample, I move my fetch in the `viewDidAppear` of the first `UIViewController`.

Up to now, I didn't reproduce it, but I will let you know

[2017-03-15 12:33] gerasimospy opened #165 "TVOS AutoRenewable Cannot Purchase Cannot GetInfo"
### Platform

- [ ] iOS
- [ ] macOS
- [x] tvOS

### In app purchase type

- [ ] Consumable
- [ ] Non-consumable
- [x] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [x] Sandbox
- [x] Production

### Version
Pod version 0.8.4

### Related issues
ℹ Please replace this with references to similar issues (either open or already closed).

## Report

### Issue summary
I h

[2017-03-15 19:12] ghost opened #166 "Auto Renewable Error"
### Platform

- [X] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [ ] Non-consumable
- [X] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [X] Sandbox
- [X] Production

### Version
0.7.1 (In Production and Live)
0.8.4 (In Testing, trying to fix the bugs now)

### Related issues
None Found.

## Report

### Issue summary
I have auto renewabl

[2017-03-15 22:57] bizz84 commented on #165
@gerasimospy thank you for submitting this.

I have included your tvOS demo code into SwiftyStoreKit here: https://github.com/bizz84/SwiftyStoreKit/pull/167

I can also see that retrieving products info works on iOS but not tvOS.

Will be investigating some more.

[2017-03-16 22:07] bizz84 commented on #154
Has anyone ever got this working on tvOS?

I have added a tvOS demo app to SwiftyStoreKit here: https://github.com/bizz84/SwiftyStoreKit/tree/feature/tvOS-demo-app

I have configured a test app on my iTunes Connect account with iOS and tvOS versions sharing the same IAPs.

These match the bundle ID and IAP ids in the SwiftyStoreKit demo apps, however I can see that this works consistently on iOS w

[2017-03-16 22:13] shuhrat10 commented on #154
@bizz84 I have my own project which is setup exactly the same way and I have the same problem.

[2017-03-16 22:13] shuhrat10 commented on #154
on iOS everything is working fine.

[2017-03-16 22:43] bizz84 commented on #154
The demo app now runs **identical** code for iOS and tvOS, but one works and the other one doesn't.

It could be a configuration issue, but I have registered exactly the same IAPs in iTunes Connect.

Next step: file a radar or contact Apple about this.

[2017-03-16 22:44] gerasimospy commented on #165
Hello Bizz

Thank you for getting back to me. Hopefully we can get to the bottom of this. I'm wondering if autorenewable subscriptions need the group they are set up in passed into the code. I have a feeling the issue is related to the group, hopefully can pin point it.

[2017-03-16 22:48] gerasimospy commented on #154
Tested this and still no luck :(

[2017-03-16 22:50] bizz84 commented on #165
"Invalid product identifier" is the first step before a purchase is made. This fails consistently for all IAP types on tvOS: (non-consumable, consumable, auto-renewable, non-renewing). See updates on #167

[2017-03-18 08:39] bizz84 commented on #154
I filed a Technical Support Incident to Apple with a demo app showing the problem:
https://github.com/bizz84/SwiftyStoreDemo

Hopefully they'll shed some light.

[2017-03-21 05:33] yarodevuci opened #168 "MAIN ISSUE: Pressing cancel lead to completing purchase transaction..."
Tried the demo. When I press Purchase and then Cancel button in UIAlertWindow, my purchase still goes trough... why??

[2017-03-21 22:02] bizz84 commented on #154
I received a detailed response from Apple Support. Sharing here as I feel it may help.
I'll try to follow up with the suggested steps.

------------------------------------------------------------
Hello Andrea,

In response to your finding, you are correct that the problem is likely not a problem with your code. It is more likely, an issue with the iTunes Store Server. When this issue occurs, my r

[2017-03-21 22:15] bizz84 commented on #168
I don't believe that's the case. When the user cancels the purchase the transaction fails:

<img width="752" alt="screen shot 2017-03-21 at 22 13 10" src="https://cloud.githubusercontent.com/assets/153167/24173386/b79deda6-0e83-11e7-8b33-8b2bc0bdd8fa.png">

As a result, the completion block of the `purchase()` method returns an error:

[code]

Please make sure that you're parsing the result correc

[2017-03-22 03:50] yarodevuci commented on #168
@bizz84 Tested on iOS 8.4, iOS 10 cancel works fine,

[2017-03-22 05:47] #168 closed

[2017-03-24 13:56] bb-git opened #169 "Pretty often purchaseProduct returns: Unknown error. Please contact support"
### Platform

- [x ] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [ ] Non-consumable
- [ x] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [ x] Sandbox
- [ ] Production

### Version
ℹ Please replace this with the version of SwiftyStoreKit you're using.
0.8.4

### Related issues
ℹ Please replace this with references to similar issues (eit

[2017-03-26 21:14] bizz84 commented on #169
@bb-git could you post a stack trace for this?

You can get this by adding a breakpoint in the completion block of the `purchase()` method, then type `bt` in the debugger console once the breakpoint is triggered.

Also please see #154. It includes some information from Apple about potential configuration mistakes that could cause problems with IAPs.

[2017-03-27 14:16] gerchicov-bp opened #171 "SwiftyStoreKit.completeTransactions - completion block may not be called"
### Platform

- iOS

### In app purchase type

- [ ] Auto-Renewable Subscription

### Environment

- [ ] Sandbox

### Version
branch - master

### Related issues

## Report

### Issue summary
From your readme - ```SwiftyStoreKit.completeTransactions``` has completion block which may not be called.

### What did you expect to happen
The completion block should be called anyways - with error and/or

[2017-03-29 13:35] gerchicov-bp opened #174 "How to deal with auto-renewable subscription?"
Need to update a readme file.

Current readme just describes how to send a purchase request.

How to handle result? How to renew it? Does sandbox users' behaviour differs from real one?

[2017-03-31 09:47] Toldy commented on #169
I have the same problem.
The issue is linked to https://forums.developer.apple.com/thread/75044.
It seems to be a bug from Apple (don't worry, not a SwiftyStoreKit migration issue ✌️)

[2017-03-31 17:18] tbergeron opened #175 "Multiple occurrences of IAP not passing and restore returning: Cannot connect to iTunes Store"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [x] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [ ] Sandbox
- [x] Production

### Version
running on `swift-2.3` branch

### Related issues
#140 but contrary to that person I cannot reproduce myself this error. But it happens to about 25% of my trans

[2017-03-31 17:21] tbergeron commented on #140
@bizz84 Thanks for your research! This is interesting. It's happening to a lot of my (potential) customers, in various countries. I doubt this is iTunes being so sloppy as it happens so often. I opened an issue with more information #175 if I find anything I'll keep you folks posted!

[2017-04-01 11:52] PsssUm commented on #175
same problem

[2017-04-02 12:16] bizz84 commented on #175
@tbergeron You mentioned that you're running on the `swift2.3` branch.

If that is definitely the case, I would recommend moving to the latest version (Swift 3).

I have one app running in production with SwiftyStoreKit v0.8.3. From my analytics dashboard I can see that some restore purchases calls are either failing or returning no purchases. Will need to investigate more and add some error infor

[2017-04-03 15:33] aguila9 opened #176 "Xcode 8.3: String interpolation Warning"
### Platform

- [X] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [X] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [X] Sandbox
- [X] Production

### Version
0.8.4

## Report

### Issue summary
I just update to Xcode 8.3. I'm getting the following warnign:
/Users/.../SwiftyStoreKit/PaymentQueueController.swift:62:126

[2017-04-03 16:48] mrmasterwill opened #177 "Purchase Failed, invalid product ID, but it is 100% correct"
### Platform

- iOS

### In app purchase type
- Non-consumable

### Environment

- Sandbox

### Version
Most current

## Report

### Issue summary
When I press on my button to buy the nonrenewable it says that "Purchase Failed", "The purchase identifier was invalid" and in the debugger it tells me the same and prints out my product ID. Yet the product ID is totally correct.

Please help, am I doin

[2017-04-04 08:15] mrmasterwill commented on #177
I've now directly copied the demo code in and obviously changed code where necessary and I still get the exact same error

[2017-04-05 08:23] gerchicov-bp opened #178 "Handle "Already purchased"?"
### Platform

- [x] iOS

### In app purchase type

- [x] Auto-Renewable Subscription

### Environment

- [x] Sandbox

### Version
0.8.4

### Related issues

## Report

### Issue summary
1) Buy a subscription
2) In its completion block verify receipt
3) Try to buy a subscription again

### What did you expect to happen
1) and 2) called with their completion blocks. And possibility to handle "you ha

[2017-04-06 19:11] francoisduchemin commented on #176
I'm getting the same warning.

[2017-04-07 15:38] Demetriy opened #179 "unhandledTransactions ... message"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [x] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [x] Sandbox
- [ ] Production

### Version
0.8.4

## Report

### Issue summary
About last 2-3 months, when I try to buy non-consumable (didn't try others) product in log i got message like "unhandledTran

[2017-04-08 05:28] vaibhav-varshaaweblabs commented on #177
@mrmasterwill Same here
My Non Consumable product is always listed under Invalid Product ID's

[2017-04-09 05:20] womandroid commented on #98
Unfortunately, it still doesn't work for the latest version 0.8.4.

[2017-04-09 07:20] CaptainYukinoshitaHachiman commented on #177
Same here
So what's the coder doing?

[2017-04-09 07:42] CaptainYukinoshitaHachiman opened #180 "Could not retrieve product infoInvalid product identifier"
Platform:
iOS

In app purchase type
Non-Consumable

Environment
Sandbox

Version
Latest

I wrote the code under to test SwiftyStoreKit:
        SwiftyStoreKit.retrieveProductsInfo(["com.TCWQ.Oregairu.FullVersion"]) { result in
            if let product = result.retrievedProducts.first {
                let priceString = product.localizedPrice!
                print("Product: \(product.localizedDe

[2017-04-10 12:59] womandroid commented on #98
Here is the log message when I purchase the product:
[code]

What's the meaning of "Unexpected restored transaction"?

[2017-04-11 11:04] arm0nic commented on #114
Thanks @bizz84 for you detailed answer! I will try to test you suggestions and get back to you if it is working or not :)

[2017-04-13 03:06] kmcgill88 commented on #180
- Did you first call `SwiftyStoreKit.completeTransactions()` in your AppDelegate, before calling `SwiftyStoreKit.retrieveProductsInfo`?
- Are you positive`com.TCWQ.Oregairu.FullVersion` is setup in iTunes Connect?

[2017-04-13 03:12] kmcgill88 commented on #176
Same, pretty annoying. I'm new to this project but will try a PR soon, get my feet wet.

[2017-04-13 03:40] kmcgill88 commented on #176
So this was fixed in PR [172](https://github.com/bizz84/SwiftyStoreKit/pull/172) but a new pod version hasn't been released. So just need @bizz84 to cut the next release or point at master for the time being with `:git =>`

[2017-04-13 11:45] tbaranes commented on #154
Personally, I don't reproduce that issue anymore, I'm letting it open since there a few more comments, but don't hesitate to close it whenever you think it's ok for you 👍

[2017-04-13 12:09] shuhrat10 commented on #154
Let me try to test again

[2017-04-14 12:00] Jayvd opened #181 "Getting the Transaction Date of a Restored Auto Renewable Transaction"
### Platform

- [ ] iOS

### In app purchase type
- [ ] Auto-Renewable Subscription

### Environment
- [ ] Sandbox

## Report

### Issue summary
ℹ Get the Transaction Date of a Restored Auto Renewable Transaction.

### What did you expect to happen
ℹ It is my understanding that, when we call  `SwiftyStoreKit.restorePurchases()`, **all previous purchases** will be returned in a `RestoreResults` obj

[2017-04-14 12:26] CaptainYukinoshitaHachiman commented on #180
This is my appDelegate
Could you help me find out the problem?
class AppDelegate: UIResponder, UIApplicationDelegate {

    var window: UIWindow?

    func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplicationLaunchOptionsKey: Any]?) -> Bool {
        // Override point for customization after application launch.
        GADMobileAds.configure(withApp

[2017-04-14 14:04] kmcgill88 commented on #180
That looks correct to me. I do the same thing. Call `SwiftyStoreKit.completeTransactions` in app delegate at start, then a button triggers `SwiftyStoreKit.retrieveProductsInfo`  which displays the details of the purchase. Last `SwiftyStoreKit.purchaseProduct` makes the purchase.

Couple other ideas:
- Make sure the device `SwiftyStoreKit.canMakePayments`
- Again make sure the in app purchase is se

[2017-04-14 22:57] CaptainYukinoshitaHachiman commented on #180
I noticed that I did not fill the banking info.
Is it the reason why it can't retrieve?

[2017-04-15 13:33] kmcgill88 commented on #180
Very well could be. Let me know if that fixes it.

[2017-04-15 21:51] shortcircuit3 opened #182 "Free Trial not showing up in Sandbox Mode"
### Platform

- [x] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [ ] Non-consumable
- [x] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [x] Sandbox
- [ ] Production

### Version
SwiftyStoreKit (0.8.4)

### Related issues
http://stackoverflow.com/questions/42816340/ios-auto-renewable-subscriptions-free-trial-not-being-indicated

## Repor

[2017-04-16 20:51] D8man commented on #180
I have the same issue.

[2017-04-17 07:43] bizz84 commented on #176
[Version 0.8.5](https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.8.5) fixes this and has been released.

[2017-04-17 07:43] #176 closed

[2017-04-17 09:03] gerchicov-bp opened #183 "The library doesn't differ events "subscribed" and "already subscribed""
### Platform

- [ ] iOS

### In app purchase type

- [ ] Auto-Renewable Subscription

### Environment

- [ ] Sandbox
- [ ] Production

### Version
0.8.4 (but it seems it is still not fixed in 0.8.5)

### Related issues

## Report

### Issue summary
Check your code from readme for ```SwiftyStoreKit.purchaseProduct(...)``` (atomic version) - it has "success" event only. But this event may occur in 2

[2017-04-17 10:39] gerchicov-bp opened #184 "Random errors when switching between 2 types of subscriptions"
### Platform

- [ ] iOS

### In app purchase type

- [ ] Auto-Renewable Subscription

### Environment

- [ ] Sandbox

### Version
0.8.4 (maybe 0.8.5 too)

## Report

### Issue summary
Implemented as in your example from readme:
1)buy subscription1 and wait while it is applied
2)buy subscription2

### What did you expect to happen
Success result or something like "changed subscription"

### What ha

[2017-04-17 14:14] bizz84 commented on #181
@Jayvd To get the status of your auto-renewable subscriptions you should use the `verifySubscription` method as explained [in the README](https://github.com/bizz84/SwiftyStoreKit#verify-subscription).

This will return `purchased`, `expired` or `notPurchased` with the `expiryDate` as appropriate:

[code]

1. In your specific case, you could call `SwiftyStoreKit.restorePurchases()`.
2. Then, in the

[2017-04-18 10:01] gerchicov-bp opened #185 "The library doesn't return all the necessary info it has and it increases the amount of code a programmer needs to write"
### Platform

- [ ] iOS

### In app purchase type

- [ ] Auto-Renewable Subscription

### Environment

- [ ] Sandbox
- [ ] Production

### Version
0.8.4/0.8.5

## Report

### Issue summary
Some of the methods of this library decrease the amount of returned info which forces to rewrite library methods and/or add extra code and perform extra requests.
In my particular case it is method ```SwiftyStor

[2017-04-19 20:49] bizz84 commented on #185
**Premise**: Two principles behind the design of the SwiftyStoreKit API are:

- make the API as easy to use as possible
- expose the smallest amount of information possible, so that it is harder to use it incorrectly.

As these can be in conflict with each other, the best approach is decided on a case-by-case basis.

-----------

In your specific case you need to read the `price` of a `SKProduct`.

[2017-04-19 21:04] bizz84 commented on #183
I believe this applies for **non-consumable** purchases as well.

In your case, I would propose the following:
- Only let the use purchase a subscription if has never been purchased or if it was previously expired.

You can check the status of a subscription with the [`verifySubscription`](https://github.com/bizz84/SwiftyStoreKit#verify-subscription) method.

If you want to ensure this works when

[2017-04-19 21:11] bizz84 commented on #179
@Demetriy thanks for reporting this. It is a known message that appears when the payment queue receives a transaction in the `purchasing` state.

Nothing to worry about. The transaction is subsequently updated with a `failed`, `restored` or `purchased` state (which is reported to the caller).

**Note**: It would make sense filter out any transactions in `purchasing` state so that this message is n

[2017-04-19 21:14] bizz84 commented on #183
Related to #178

[2017-04-19 21:17] bizz84 commented on #177
Please see #154. This has been discussed in detail there.

[2017-04-20 06:26] gerchicov-bp commented on #185
In my specific case I need to read the price **after** product purchased to send statistics. I understand that I should receive a product list before showing the pricing page at all.

Anyways I could receive price and price locale after purchase via pure StoreKit and can't do the same thing with this library

[2017-04-20 07:47] bizz84 commented on #185
I see. If you were to use StoreKit only, you would still have to do two steps:

- Request product info first (to get the `SKProduct`)
- Do the purchase for the given `SKProduct`

I'll treat this as a feature request and see what I can do about it. For now [`retrieveProductsInfo`](https://github.com/bizz84/SwiftyStoreKit#retrieve-products-info) is the way to go.

[2017-04-20 18:42] keyanli commented on #156
still have this problem, how to fix that?

[2017-04-20 20:41] MaeseppTarvo commented on #156
@keyanli My problem was fixed if I did `pod update` I can't say other solutions for now.

[2017-04-20 21:24] keyanli commented on #156
@MaeseppTarvo Yeah it works for me, but once you run pod install again, the problem shows again

[2017-04-22 05:44] CaptainYukinoshitaHachiman commented on #180
Now it works after filling the banking information on iTunes Connect.

[2017-04-22 05:44] #180 closed

[2017-04-22 13:37] Dino4674 commented on #67
If there are no updated transactions, this callback will not be called. In am depending on it on app startup to continue with app logic. But if it is not being called, my app is stuck.

Why can not this callback be called with empty products array?

public class func completeTransactions(atomically: Bool = true, completion: @escaping ([Product]) -> ()) {
        sharedInstance.completeTransactions

[2017-04-23 04:18] swami-108 opened #186 "Atomic purchase on the Swift 2.2 version?"
Is it possible to do an atomic purchase on the Swift 2.2 version? I'd like to wait till I get a response back from my server before I finish the IAP purchase, but unfortunately, I'm on Swift 2.2 and not in a position to upgrade at the moment. What can I do?

Thanks.

### Platform

- [x ] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [x ] Consumable
- [ ] Non-consumable
- [ ] Auto-Renewab

[2017-04-24 06:37] Dino4674 opened #187 "Complete transactions callback not called if there are not pending transactions."
If there are no updated transactions, this callback will not be called. In am depending on it on app startup to continue with app logic. But if it is not being called, my app is stuck.

Why can not this callback be called with empty products array if there are no pending transaction in the system?

    public class func completeTransactions(atomically: Bool = true, completion: @escaping ([Product]

[2017-04-24 13:40] bizz84 commented on #187
@Dino4674 This is expected.

The `completeTransactions` callback is only called if:
* the payment queue reports that there are updated transactions via the `SKPaymentTransactionObserver` protocol implemented in [PaymentQueueController.swift](https://github.com/bizz84/SwiftyStoreKit/blob/master/SwiftyStoreKit/PaymentQueueController.swift), and:
* there aren't already active calls to `purchaseProduc

[2017-04-24 13:50] bizz84 commented on #186
@swami-108 I suggest you do this:

- Fork SwiftyStoreKit v0.4.0
- Try to merge the changes from #107 (you could create a patch from commit d4579d9dc91225c0a6fe32e93f01e49197aa1444 and apply it to your branch)
- Resolve any merge conflicts
- Make merged code compatible with Swift 2.2.

Then, you should be able to perform **non-atomic** purchases, which will work with your server logic.

Note that p

[2017-04-24 13:51] bizz84 commented on #186
Closing this issue for now, feel free to ask more questions if needed.

[2017-04-24 13:51] #186 closed

[2017-04-24 13:55] bizz84 commented on #181
@Jayvd Please let me know if this answers your question. I will close this issue in the coming weeks if it's not updated.

[2017-04-24 14:04] bizz84 commented on #177
If this is still a problem please continue the discussion on #154. Closing as duplicate for now.

[2017-04-24 14:04] #177 closed

[2017-04-24 14:24] bizz84 commented on #185
@gerchicov-bp This is worth a read:
[Apple TN2387 In-App Purchase Best Practices](https://developer.apple.com/library/content/technotes/tn2387/_index.html)

Quoting:

On this basis, it makes sense to call `retrieveProductsInfo` first. Once the callback returns, you can store the product price somewhere if needed, and use it again after your purchase is complete.

[2017-04-24 14:27] Dino4674 commented on #187
Thanks for the info. My use case is that I check the auto-renewable subscription receipt on app startup to check if subscription is still valid (to further know what app features to show inside the app).

When in sandbox environment, auto-renewable subscription is renewed after 5mins (max 5x a day) and then it expires. In production environment, subscription would try to auto renew 24h before the

[2017-04-24 15:09] Dino4674 commented on #187
I also see that autorenewable subscription verification code is updated with this version of SwiftyStoreKit. There was no AppleReceiptValidator object in the SwiftyStoreKit version I was using. This is strange.

[2017-04-24 15:16] bizz84 commented on #174
@gerchicov-bp apologies for the late reply.

This snippet summarises how to:
* purchase a subscription, then
* verify that the receipt is valid, then
* check the status of the subscription

[code]

This is a combination of the [Purchase](https://github.com/bizz84/SwiftyStoreKit#purchase-a-product) and [Verify Subscription](https://github.com/bizz84/SwiftyStoreKit#verify-subscription) methods.

As

[2017-04-24 15:20] bizz84 commented on #178
**NOTE**: The "you have already purchased ..." alert is an internal step performed by StoreKit when purchasing a product and there is no way to intercept it directly (AFAIK). Note that the user is not charged again when this alert appears.

I'm going to close this as a duplicate of #183. Please post any more questions there if needed.

[2017-04-24 15:20] #178 closed

[2017-04-24 15:26] bizz84 commented on #171
@gerchicov-bp apologies for the late reply.

This is expected, as explained in #187.

Closing this as a duplicate of #187, please ask any more questions there if needed.

[2017-04-24 15:26] #171 closed

[2017-04-24 15:31] Dino4674 commented on #187
@bizz84 can you please suggest the flow to implement with auto-renewable subscriptions with client side validation of subscription and server side storage.

e.g.
I have one auto-renewable subscription, after user signs in, I check the status of that subscription. If subscription is .purchased, I notify my server that subscription is purchased. If it is not and server thinks that user is 'premium'

[2017-04-24 15:38] bizz84 commented on #174
@gerchicov-bp Suggested Read:

[Apple - Working with Subscriptions](https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Chapters/Subscriptions.html#//apple_ref/doc/uid/TP40008267-CH7-SW6)

[2017-04-24 15:47] bizz84 opened #190 "How to get Original Purchase Date and Subscription Expiration Date for all receipts?"
### Platform

- [x] iOS
- [x] macOS
- [x] tvOS

### In app purchase type

- [ ] Consumable
- [ ] Non-consumable
- [x] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [x] Sandbox
- [x] Production

### Version
0.8.5

### Related issues
None

## Report
From [Apple - Working with Subscriptions](https://developer.apple.com/library/content/documentation/NetworkingInternet

[2017-04-24 15:52] Dino4674 opened #191 "Get 'Subscription updated' event"
Hi @bizz84

I am working with auto-renewable subscription.

Client is doing subscription validation and server is storing the 'isPremiumUser' flag (`isPremiumFlag` should be in sync with the purchased subscription - if there is a valid subscription, server will have to be updated with TRUE value, when subscription expires, server should be updated with FALSE value).

After user logins I need to ch

[2017-04-24 16:32] bizz84 commented on #191
First of all, you should read Apple docs on [Working with Subscriptions](https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Chapters/Subscriptions.html#//apple_ref/doc/uid/TP40008267-CH7-SW6).

From what I can see in the docs, you won't get a _Subscription updated_ event while the app is running.

Better to check your subscription each time the ap

[2017-04-24 17:03] bizz84 opened #192 "Add is_trial_period, original_purchase_date to VerifySubscriptionResult and VerifyPurchaseResult"
### Platform

- [x] iOS
- [x] macOS
- [x] tvOS

### In app purchase type

- [x] Consumable
- [x] Non-consumable
- [x] Auto-Renewable Subscription
- [x] Non-Renewing Subscription

### Environment

- [x] Sandbox
- [x] Production

### Version
0.8.5

## Report
The app receipt contains `is_trial_period` and `original_purchase_date` fields for each receipt field.

These should be made available by Swift

[2017-04-24 17:03] Dino4674 commented on #191
I've read that doc already but run onto much inconsistencies in the sandbox environment. Also I've seen lots of complaints online in regards to the auto-renewable subscription tools provided by Apple. Thats how I found `SwiftyStoreKit` which really solves the ugly Apple's API for purchases.

I've already updated my code according to the "Verify Subscription" section after I updated `SwiftyStoreKit

[2017-04-24 17:05] bizz84 commented on #190
**Note**: This piece of work should be done once #192 is merged.

[2017-04-24 17:52] swami-108 commented on #186
@bizz84 Thanks for the suggestions! I'm new to Git and to Swift, so let me see what I can manage! I used CocoaPods to install SwiftStoreKit...will I still be able to do use CocoaPods to install this in my project after forking and merging?

[2017-04-24 17:55] swami-108 commented on #186
Also, I have a general question if you wouldn't mind answering. All I'm really doing is calling SwiftyStoreKit.retrieveProductsInfo() and SwiftyStoreKit.purchaseProduct(). Everything works fine, but I'm not doing anything with receipt validation, etc. Is that required by Apple?

[2017-04-24 17:57] bizz84 commented on #166
@mrnahidtalukder Apologies for the late reply.

I have updated the documentation for [Receipt Verification](https://github.com/bizz84/SwiftyStoreKit#receipt-verification). According to [Apple Docs](https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Chapters/DeliverProduct.html#//apple_ref/doc/uid/TP40008267-CH5-SW4):

Based on this I believe that

[2017-04-24 18:50] bizz84 commented on #186
Re. Cocoapods, yes, you can point to your own repo. Something like this:
[code]

You can think of receipt validation as an extra layer of security for your IAPs. Strictly you don't need it but if you're selling your IAPs in considerable numbers I think it's worth looking into it and understanding how it works.

Also if you work with subscriptions you'll definitely need to use it as it will give yo

[2017-04-24 19:17] bizz84 commented on #191
@Dino4674 According to [Validating Receipts With the App Store](https://developer.apple.com/library/content/releasenotes/General/ValidateAppStoreReceipt/Chapters/ValidateRemotely.html#//apple_ref/doc/uid/TP40010573-CH104-SW1):

Regarding this:

I don't think that this is correct in this scenario:
* Start a subscription purchase
* Close or kill the app while the purchase is being processed (in this

[2017-04-25 05:37] Jayvd commented on #181
Yes, it works @bizz84 . Sorry for the late reply, I only received the last email notification about replies on this issue. Thank you

[2017-04-25 05:37] #181 closed

[2017-04-25 12:37] Dino4674 commented on #191
Since server is not doing the validation (it will in the future) I think it is good for now. Thanks for the AppStore quote, I'll communicate this to my client also.

If user is not logged in, she would see login/signup screens which don't show purchase options so this is good.

I've implemented it like this:
- on app startup I call complete transactions and just finish them since at that moment ap

[2017-04-28 19:11] AlbertRenshaw commented on #81
So strange, we run the app fine on our end, all IAP items load, we've tested on a few devices, IPv4 IPv6, debug and release builds, it all works fine. The second Apple tests it on their end it indefinitely loads items! No clue what could be causing this, I don't think it's actually an IPv6 issue though whatever it is..
![18215934_10212614939112775_422118294_o](https://cloud.githubusercontent.com/a

[2017-04-29 12:16] abdulKarim002 opened #193 "While restoring cant get original transaction id.."
### Platform

- [x] iOS

### In app purchase type

- [x] Auto-Renewable Subscription

### Environment

- [x] Sandbox

### Version
ℹ 0.8.5

### Related issues
ℹ Please replace this with references to similar issues (either open or already closed).

## Report

### Issue summary
ℹ Can't able to get original transaction id while restoring

### What did you expect to happen
ℹ while restoring I want to

[2017-04-30 08:36] rebeloper commented on #81
Hey, this IPv6 message from Apple just drives devs crazy. I've created a short video on YouTube on debugging the most common mistakes when your app is rejected because of "IPv6 and in app purchases". Take a look at it here: https://youtu.be/hcl2gqg5aJQ

[2017-05-02 17:27] tbergeron commented on #175
I have now upgraded my app to Swift 3 and pushed the update. It is now live so I'll be able to see if the latest update improves my issues.

It seems to be better. The only errors that are reporting have the same message:
SKError(_nsError: Error Domain=com.apple.LocalAuthentication Code=-2 "Canceled by user." UserInfo={NSLocalizedDescription=Canceled by user.})

But I don't see the cannot connect

[2017-05-03 13:20] gerchicov-bp opened #194 "Verify subscription without id?"
### Platform

- [ ] iOS

### In app purchase type

- [ ] Auto-Renewable Subscription

### Environment

- [ ] Sandbox
- [ ] Production

### Version
0.8.6

### Related issues

## Report

### Issue summary
From your readme you call:
[code]
What to do if we don't know this ```productId``` and have multiple subscriptions which may vary?

### What did you expect to happen
Get any valid subscription from

[2017-05-04 13:46] ramunasjurgilas opened #195 "Auto-renewable subscription do not renews"
### Platform
- [x] iOS
### In app purchase type
- [ ] Auto-Renewable Subscription
### Environment
- [ ] Sandbox
### Version
master (0.6.3) Installed throw CocoaPods

### Related issues
Auto-renewable subscription do not gets renewed.

### Issue summary
After purchasing auto-renewable subscription, and after 5 min subscription gets expired.
I want to notice, that by executing restore or refresh rec

[2017-05-06 12:48] nikunjgabani opened #196 "Promocode not working"
When I am trying to purchase Non-Renewing Subscription with promocode in Production mode it gives message:
"This In-App purchase has already been bought. It will be restored for free."
Then I click "OK" button, the app is processing not giving any response.

I am unable to debug issue as it is production version.

can you help me?

[2017-05-07 04:31] robhellstrom opened #197 "Unable to handle/complete transactions on startup"
### Platform

- [X] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [X] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [X] Sandbox
- [ ] Production

### Version
0.7.1

### Related issues
https://github.com/bizz84/SwiftyStoreKit/issues/146

## Report

### Issue summary
Using simulator, a number of transactions are queued

[2017-05-08 09:26] aksswami commented on #67
@bizz84 Not facing this issue with the latest SwiftyStoreKit. Thanks for help.

[2017-05-08 12:58] bizz84 commented on #193
@abdulKarim002 for restored products, you can access the `product.transaction.transactionIdentifier` as needed:

[code]

<img width="1012" alt="restoretransactionid" src="https://cloud.githubusercontent.com/assets/153167/25805079/364c3c2e-33f6-11e7-90f4-2c5068720725.png">

Are you saying that the transaction id you get is different from the transaction id on the original purchase?

[2017-05-08 13:22] bizz84 commented on #197
First of all, please update to the latest version of SwiftyStoreKit.

What is the transaction state for the `unhandledTransactions`? If it's `.purchasing`, the transactions are not yet complete. If it's `.purchased`, `.restored`, `.failed` or `.deferred`, these should be returned by `completeTransactions`.

[2017-05-08 13:53] bizz84 commented on #193
I understand now. Restored transactions have an `original: SKPaymentTransaction` value that should be returned instead of the default one.

[code]

I'll treat this as a bug to be fixed

[2017-05-08 14:59] robhellstrom commented on #197
Updated to 0.8.6.

According to your code, transaction state is only `.purchasing` : refer to PaymentQueueController.swift in SwiftyStoreKit...

[code]

[code]
When this runs I see multiple transactions printed from the strings array.

[2017-05-08 21:29] ankitkapasi commented on #123
@bizz84 did anyone ever take up option 1? I dont have the time now, but would be willing to help down the line.

[2017-05-09 05:54] cleofasv opened #200 "SKPayment.quantity member not accessible"
### Platform

- [X] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [X] Consumable
- [ ] Non-consumable
- [ ] Auto-Renewable Subscription
- [ ] Non-Renewing Subscription

### Environment

- [X] Sandbox
- [X] Production

### Version
0.4.0

### Related issues
None

## Report

### Issue summary
The framework does not provide a way to access the SKPayment.quantity member during purchase. A wor

[2017-05-09 16:22] bizz84 commented on #200
I plan to implement this soon. The new API will likely look like this:

[code]
I will also look into exposing the `quantity` parameter of `SKProduct` in the `Product` object returned by the purchase method.

[2017-05-10 03:04] cleofasv commented on #200
Thanks so much @bizz84! I'll keep posted on future releases of SwiftyStoreKit. Also, if ever you need a hand on implementation, I'm very willing to contribute.

[2017-05-10 08:05] gerchicov-bp commented on #194
Yes. I need this one:
[code]
My current solution (I use autorenewable subscriptions only):
[code]
In short in my case ```productID```'s may be unpredictably changed. So I parse ```ReceiptInfo``` and get all the possible IDs to use in the existing function ```verifySubscription(...)```.

The only problem I have (if it is a problem) is the following:
[code]

I don't call ```restorePurchases``` but t

[2017-05-10 14:21] bizz84 commented on #200
@cleofasv I have added the `quantity` option when making purchases. This is also returned as part of `Payment` when the callback is called.

You can test this on the latest [develop](https://github.com/bizz84/SwiftyStoreKit/tree/develop) branch.

As for contributing, as soon as I can get some issues ready with some implementation specs it would be great to get you on board!

[2017-05-10 14:45] bizz84 opened #204 "Rename completeTransactions to completePurchases?"
This is a proposed API change to make it clearer what the current `completeTransactions` method does.

As a result, this code:

[code]

will be changed into this:

[code]

## Pros

* I think this better conveys the message that this should be called when the app starts in order to complete any purchases that are waiting on the payment queue.
* Another reason for removing `transactions` from the me

[2017-05-11 01:52] cleofasv commented on #200
Thank you so much, @bizz84! I won't be able to test this just yet. Our code base is still Swift2.3, and migration to Swift3 is set to start on June/July. For now, I will be using the workaround.

[2017-05-11 10:55] bizz84 commented on #192
Available on pod version [0.9.0](https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.9.0).

[2017-05-11 10:55] #192 closed

[2017-05-11 10:56] bizz84 commented on #190
Available on pod version [0.9.0](https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.9.0).

[2017-05-11 10:56] #190 closed

[2017-05-11 11:08] bizz84 commented on #200
@cleofasv While I don't have bandwidth to support Swift 2.3, implementing this on your own fork is fairly straightforward:
* Locate the `startPayment()` method in `InAppProductPurchaseRequest`, and add the following line:
[code]
* Add a `quantity` parameter to `InAppProductPurchaseRequest.startPayment()`
* Add a `quantity` parameter to `SwiftyStoreKit.purchase()`, and pass that to `InAppProductPur

[2017-05-11 11:08] bizz84 commented on #200
Closing this issue as this is now available on pod version [0.9.0](https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.9.0)

[2017-05-11 11:08] #200 closed

[2017-05-11 11:09] bizz84 commented on #193
Fix available on pod version [0.9.0](https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.9.0).

[2017-05-11 11:09] #193 closed

[2017-05-11 11:24] bizz84 commented on #195
@ramunasjurgilas to clarify, this is the expected behaviour:

* just after you purchase your auto-renewable subscription in Sandbox mode, calling `verifySubscription()` should return `.purchased`.

* If you wait until after the `expiryTime` and call `verifySubscription()` again, you should get `.expired`

Is this not what you're observing?

[2017-05-11 11:26] bizz84 commented on #196
@nikunjgabani can you paste the code you're using for purchasing your subscription?

[2017-05-11 11:32] cleofasv commented on #200
Oh alright @bizz84, we'll just for 2.3 and do our modifications there. Thank you so much for the support!

[2017-05-11 11:36] bizz84 commented on #194
@gerchicov-bp you say this:

Why is this the case? As the developer you should have control to all registered IAPs in iTunes Connect right?

Regarding this:

I believe that when the app is deleted and installed and the user is logged in with Apple ID, the receipt from the previous app installation is reloaded.
This makes sense as you could have purchased a subscription and you still want to access

[2017-05-11 11:38] bizz84 commented on #191
@Dino4674 I'll close this for now. Feel free to reopen if you have other questions.

[2017-05-11 11:38] #191 closed

[2017-05-11 11:42] bizz84 commented on #187
@Dino4674 I suggest to update to pod version [0.9.0](https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.9.0).

In your Podfile:
[code]
Then, run `pod install` or `pod update`.

Closing this for now, feel free to reopen if you have problems with the new version.

[2017-05-11 11:42] #187 closed

[2017-05-11 12:42] gerchicov-bp commented on #194
`As the developer you should have control to all registered IAPs in iTunes Connect right?`
In my case these purchase ids come from my server (it is not a server for subscriptions - it just stores some settings). And I can't predict which which set of ids it will send next time. Why? It is because of my customer only.

It seems you should imlement `verifyAllSubscriptions` but with type param (autor

[2017-05-11 12:59] abdulKarim002 commented on #193
Thank @bizz84

[2017-05-11 15:58] bizz84 commented on #185
@gerchicov-bp #205 implements a tentative solution for this issue, however I don't like it for a number of reasons:

* the new`Purchase.product` value is optional, always present when making a purchase, but never present when restoring purchases or completing transactions:
[code]
* I think this clutters the API a bit, and you would have to use it like this:

[code]
A slightly better solution would

[2017-05-11 17:04] bizz84 commented on #194
Ok, I'll have a think and see what I can do.

[2017-05-11 17:12] bizz84 commented on #130
@itchingpixels I'm closing this due to inactivity. Feel free to reopen if you still experience issues.

[2017-05-11 17:12] #130 closed

[2017-05-11 17:13] bizz84 commented on #114
@arm0nic closing this for now. Feel free to reopen if you experience the same problems.

[2017-05-11 17:13] #114 closed

[2017-05-11 17:28] bizz84 commented on #106
@cwinUser apologies for the very late reply, this has not been fixed until recently.

### Trial Period

Starting from version [0.9.0](https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.9.0), you can now verify if a subscription is within the trial period or not.

The result returned when you call `verifySubscription` will tell you if the subscription is `purchased` or `expired:

[code]

You c

[2017-05-11 17:29] bizz84 commented on #106
I'm going to close this for now, however feel free to reopen if you need more clarifications.

[2017-05-11 17:29] #106 closed

[2017-05-11 17:31] bizz84 commented on #65
[Release 0.9.0](https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.9.0) introduces a `ReceiptItem` type:

[code]

Closing this as it's now resolved.

[2017-05-11 17:31] #65 closed

[2017-05-11 17:36] bizz84 commented on #57
Closing this issue. Feel free to open a new one if there are still issues. Current release is [0.9.0](https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.9.0).

[2017-05-11 17:36] #57 closed

[2017-05-11 17:38] bizz84 commented on #74
@RiverbayChris @joeycarmello closing this for now. Feel free to reopen if my answer does not work for you.

[2017-05-11 17:38] #74 closed

[2017-05-11 17:39] bizz84 commented on #80
@nhantrivinh closing this due to inactivity. Feel free to reopen if this is still a problem.

[2017-05-11 17:39] #80 closed

[2017-05-11 17:42] bizz84 commented on #99
@satishreddy17 closing this due to inactivity. Feel free to reopen if you still experience problems.

[2017-05-11 17:42] #99 closed

[2017-05-11 17:44] bizz84 commented on #113
@designedbyadam closing this due to inactivity. Feel free to reopen if it's still a problem.

[2017-05-11 17:44] #113 closed

[2017-05-11 19:39] sam961 commented on #194
I come to this issue too now , I have two subscriptions:
monthly and yearly.
In case the user was subscribed with monthly and then with yearly, I should get the latest subscription  in order to check if he is subscribed so that he could have access to the paid content.

I think the best way is to filter the receipt subscriptions by expirydate and get the newest one and compare it to the current da

[2017-05-11 20:18] timsredman commented on #156
using `pod update` worked of me too.

[2017-05-12 06:12] ramunasjurgilas commented on #195
My question is not about it, but I am interesting in this stuff as well and I commented bellow.

My problem was that I was struggling to understand why auto-renewable subscriptions usually expires after first 5 minutes and they do not gets extended for another 5 min. As in the Apple documentation is written that subscription term for 1 month in the sandbox environment it is 5 min and it will be re

[2017-05-12 07:58] gerchicov-bp commented on #194
@sam961
I've already thought about it. Filter is not appropriate, only sort. The reason is the following. Let look for example at [Microsoft Office 365](https://products.office.com/en/business/compare-office-365-for-business-plans). There are 3 subscriptions which represent 3 various products - so you can't just take "the latest one". So it may comply your case and my one but not all the cases.

[2017-05-12 08:32] bizz84 commented on #185
This is now available on release [0.9.1](https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.9.1).

[2017-05-12 08:32] #185 closed

[2017-05-12 14:54] bizz84 commented on #67
@Dino4674 apologies for the late reply.

You only receive a callback from `completeTransactions()` if the payment queue is updated by StoreKit and the updated transactions don't belong to a purchase or restore purchase call.

As this is not guaranteed to be called, your app should not wait for it to complete.

If it is called, you can use it to unlock functionality in the app.

I'm closing this is

[2017-05-12 14:54] #67 closed

[2017-05-12 15:15] alexdenk opened #207 "Difference between refreshReceipt and restorePurchases"
Hello,

I'm trying to understand the difference between the "SwiftyStoreKit.refreshReceipt" and "SwiftyStoreKit.restorePurchases" calls, as in result to the receipt in the bundle.

"SwiftyStoreKit.restorePurchases" is also updating the receipt in the bundle ?

Thank you

[2017-05-13 20:22] manky opened #208 "Unable To Verify Non-Renewing Subscription - (could not parse receipt item)"
### Platform

- [ X] iOS
- [ ] macOS
- [ ] tvOS

### In app purchase type

- [ ] Consumable
- [ ] Non-consumable
- [ ] Auto-Renewable Subscription
- [ X] Non-Renewing Subscription

### Environment

- [ X] Sandbox
- [ ] Production

### Version
0.9.1

### Related issues
N/A

## Report

### Issue summary

**web_order_line_item_id** is missing in ReceiptInfo but is exptected to be there acording to
In

[2017-05-14 00:06] tbergeron commented on #175
Unfortunately this is persisting. I've got people from Australia, Canada, USA & Brazil who cannot purchase the app. All of them have the same error message in a different language. I'll try to bring more information to this issue soon. Thanks

[2017-05-14 03:59] tylermrolfe opened #209 "No such module"
### Platform

- [X] iOS
- [ ] macOS
- [ ] tvOS

### Version
0.9.1

### Issue summary
Getting a weird "No such module 'SwiftyStoreKit'" I've done all the normal carthage checks like the run script file etc..I am on the latest version of carthage also. I've had this framework in my project for a little while now and this is first time I've had this issue.

[2017-05-15 05:17] vovkasmprigarin commented on #208
Problem with `let webOrderLineItemId = receiptInfo["web_order_line_item_id"] as? String`, because iTunes doesn't include this param in response, and all block under guard became failed :(

I'am catch it problem in `verifyPurchase` method.

You need fixed this method. Not good if this happens in released apps.

[2017-05-15 06:58] bizz84 commented on #208
@manky thanks for reporting! Fixed on version [0.9.2](https://github.com/bizz84/SwiftyStoreKit/releases/tag/0.9.2).

[2017-05-15 06:58] #208 closed

[2017-05-15 20:58] bizz84 commented on #194
@gerchicov-bp @sam961 in your specific case, would it make sense to have the monthly and yearly subscriptions in the same subscription group. From [Apple Docs](https://developer.apple.com/app-store/subscriptions/):

[2017-05-15 21:45] zeromhz commented on #197
I'm having the exact same problem. Running on macOS. Same problem happens in the macOS example. Running 0.9.2. I have been unable to figure out any way to execute code when the transaction completes.

[2017-05-15 21:48] bizz84 commented on #207
@alexdenk I think this guide from Apple may help you:

https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/StoreKitGuide/Chapters/Restoring.html#//apple_ref/doc/uid/TP40008267-CH8-SW9

Quoting:

This is what happens when you call `refreshReceipt()`.

This is what happens when you call `restorePurchases()`.

As SwiftyStoreKit doesn't (yet) support local receipt v

[2017-05-15 22:00] zeromhz opened #211 "All alerts in macOS sample crash"
### Platform

- [ ] iOS
- [X] macOS
- [ ] tvOS

### In app purchase type

- [X] Consumable
- [X] Non-consumable
- [X] Auto-Renewable Subscription
- [X] Non-Renewing Subscription

### Environment

- [X] Sandbox
- [X] Production

### Version
0.9.2

### Related issues

## Report

Running the macOS sample on 10.12.x every time the sample shows an alert it crashes. To repro simply build the sample, run

[2017-05-16 01:56] robhellstrom commented on #197
I believe I am able to close this now. After not being able to reproduce this except within the simulator and after researching the problem and finding that to be the case for others, I submitted the app and I still can't reproduce this problem on the app store in production. However, on testing the code (accidentally) with the transactions set to .production, this unblocked the transactions and t

[2017-05-16 03:46] alexdenk commented on #207
Excellent, thanks

[2017-05-16 03:46] #207 closed

[2017-05-16 13:29] gerchicov-bp opened #212 "Buggy ProductsInfoController"
### Platform

- [x] iOS

### In app purchase type

- [x] Auto-Renewable Subscription

### Environment

- [x] Sandbox
- [x] Production

### Version
0.9.0 (but the same code is not fixed in 0.9.2)

### Related issues

## Report

### Issue summary
1)request purchases
2)minimize app and change app store account to another one with different currency
3)return to app and request purchases again

### Wha

[2017-05-17 04:10] #197 closed

[2017-05-18 09:35] bizz84 commented on #153
Closing this as it's not related to SwiftyStoreKit.

[2017-05-18 09:35] #153 closed

[2017-05-18 10:57] bizz84 commented on #179
This was fixed on release 0.9.2. Closing.

[2017-05-18 10:57] #179 closed

[2017-05-18 10:59] bizz84 commented on #174
Documentation further improved on #213.
If you don't have other questions, I will close this issue once the PR is merged.

[2017-05-18 11:02] bizz84 commented on #182
@milesalex could it be a Sandbox issue?

Could you spend some time reading the Apple Docs and see if you find an answer?

I wouldn't expect this to be an issue in SwiftyStoreKit (it's just a wrapper on StoreKit).

[2017-05-18 11:06] bizz84 commented on #169
@bb-git do you still experience this? I'm tagging this as an Apple bug and I'll close soon it if there are no updates.

[2017-05-18 11:09] bizz84 commented on #125
I tagged this as an Apple bug. I'll leave it open as this thread has some useful information.

[2017-05-18 11:11] bizz84 commented on #108
@astrokin I'm slowly making all components inside SwiftyStoreKit testable and adding unit tests.

Eventually I would like SwiftyStoreKit to be just a facade that forwards all the method calls to the right components via composition.